@import "theme";
@import "responsive";

:host {
    position: relative;
    display: block;
}

.screen-container {
    height: calc(100vh - 80px);
    background-position: top bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-weight: 800;
    font-size: 104px;
    line-height: 0.85;
    position: absolute;
    left: 0;
    bottom: 0;
    letter-spacing: 8px;
    color: $light-color;

    @include media-breakpoint-only($xl) {
        bottom: 94px;
        font-size: 88px;
        line-height: 0.91;
    }
}

app-booking-form {
    @include media-breakpoint-only($lg) {
        ::ng-deep {
            .booking-form {
                border-bottom: 1px solid $border-color;
                box-shadow: none;
            }
        }
    }
    
}