<div class="screen-container">
    <img 
        data-aos="custom scale-increase" 
        [attr.data-aos-delay]="animationLoading.animationLoading ? 1500 : 0"
        data-aos-duration="2000"
        src="assets/images/first-screen/main.jpg" 
        alt="screen background"
        class="screen-background">
    <h1 class="title main-title">
        Valo 
        <br>
        Hotel 
        <br>
        City
    </h1>
</div>
<app-booking-form 
    data-aos-anchor=".screen-container"
    data-aos="custom booking-show" 
    [attr.data-aos-delay]="animationLoading.animationLoading ? 2200 : 0"
    data-aos-duration="300"
></app-booking-form>
