<div class="title" *ngIf="title">{{ title }}</div>

<div class="wrapper" [ngClass]="{'active': shouldLabelFloat, 'invalid': errorState, 'hide-placeholder': !placeholder || hidePlaceholder}" (click)="focus()">
  <div class="placeholder" [ngClass]="{'floating': shouldLabelFloat}">
    {{ this.ngControl.invalid && this.ngControl.touched ? 'Укажите ' + placeholder : placeholder }}
  </div>
  <div class="content" [ngClass]="{'visible': shouldLabelFloat}">
    <input 
      class="modal-control" 
      #input
      type="text" 
      (blur)="focused = false;" 
      [ngModel]="value" 
      (ngModelChange)="writeValue($event)" 
      (focus)="focused = true;" 
      [attr.aria-label]="title ? title : placeholder"
    >
  </div>

  <div *ngIf="this.ngControl.invalid && this.ngControl.touched" class="error-sign">!</div>
</div>
