<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-logo">
                <a [routerLink]="['/']" class="logo-link">
                    <img src="assets/images/header/logo.svg" class="desktop-logo" alt="logotype">
                    <img src="assets/images/header/logo-short.svg" class="mobile-logo" alt="logotype">
                </a>
            </div>
            <div class="language">
                <a
                    *ngFor="let language of languages; let i = index"
                    href="#"
                    class="language-item"
                    [class.active]="i === 0"
                >{{ language }}</a>
            </div>
            <a *ngIf="screen === 'xl'" href="tel:78126920000" class="phone">+7 (812) 692-00-00</a>
            <a href="tel:78126920000" class="phone-block">
                <svg width="12px" height="14px">
                    <use xlink:href="assets/sprites/icons.svg#ico-phone"></use>
                </svg>
            </a>
            <nav class="navigation">
                <ul class="navigation-list">
                    <ng-container *ngFor="let menuLink of menuLinks; let i = index">
                        <li
                            class="navigation-item"
                            routerLinkActive="active"
                            [class.display-none]="(i === menuLinks.length - 1) && screen !== 'xl'"
                            [routerLinkActiveOptions]="{exact: true}"

                        >
                            <a [routerLink]="[menuLink.url]" class="navigation-link">{{ menuLink.text }}</a>
                        </li>
                    </ng-container>
                </ul>
            </nav>
            <a [routerLink]="['/apartments']" class="button dark find-button">Найти номер</a>
            <button
                *ngIf="screen !== 'xl' && screen !== 'lg'"
                class="open-menu"
                (click)="menu.showMenu = !menu.showMenu; $event.stopPropagation()"
                [class.active]="menu.showMenu"
            >
                <span class="ico-menu">
                    <span class="small-line"></span>
                    <span class="big-line"></span>
                </span>
            </button>
        </div>
    </div>
</header>
