<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-logo">
                <a [routerLink]="['/']" class="logo-link">
                    <img src="assets/images/header/logo.svg" alt="logotype">
                </a>
            </div>
            <div class="language">
                <a 
                    *ngFor="let language of languages; let i = index" 
                    href="#"
                    class="language-item" 
                    [class.active]="i === 0"
                >{{ language }}</a>
            </div>
            <a href="tel:881702-76-73" class="phone">8 (812) 702-76-73</a>
            <nav class="navigation">
                <ul class="navigation-list">
                    <li 
                        class="navigation-item" 
                        routerLinkActive="active"
                        *ngFor="let menuLink of menuLinks"
                        [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="[menuLink.url]" class="navigation-link">{{ menuLink.text }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>