@import "theme";
@import "responsive";

:host {
    display: block;
    position: fixed;
    z-index: 30;
    top: 0;
    background-color: $light-color;
    left: 0;
    width: calc(100% - 80px); // ширина бокового меню

    @include media-breakpoint-only($lg) {
        width: 100%;
    }
}

.header {
    padding: 12px 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-only($lg) {
        padding: 0;
        height: 64px;
    }
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 56px;

    @include media-breakpoint-only($xl) {
        margin-right: 35.5px;
    }
}

.logo-link {
    display: block;
    width: 96px;

    @include media-breakpoint-only($xl) {
        width: 69px;
    }
}

.language {
    display: flex;
    align-items: center;
    margin-right: 65px;
}

.language-item {
    text-transform: uppercase;
    text-decoration: none;
    color: $raven;
    letter-spacing: 1px;
    line-height: 2.2;

    @include media-breakpoint-only($xl) {
        font-size: 11px;
    }

    &.active {
        color: $text-color;
        font-weight: 700;
    }

    &:not(:last-child) {
        margin-right: 25px;
    }
}

.phone {
    margin-right: 50px;
}

.navigation {
    margin-left: auto;
}

.navigation-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-item {
    margin-right: 49px;

    @include media-breakpoint-only($xl) {
        margin-right: 33px;
    }

    &.active {
        .navigation-link {
            color: $secondary-color;
        }
    }
}

.navigation-link {
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 2.2;
    color: $text-color;
    text-decoration: none;
    transition: color .2s ease;

    &:hover {
        color: $primary-color;
    }

    &:active, &:focus, &.active {
        color: $secondary-color;
    }
}

.find-button {
    @include media-breakpoint-only($lg) {
        margin-right: 16px;
    }
}

.container {
    @include media-breakpoint-only($lg) {
        padding-right: 0;
    }
}