<div class="slider inner-slider">
    <div class="swiper-container" [swiper]="config" #sliderContainer>
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let card of content">
                <app-event-card [card]="card"></app-event-card>
            </div>
        </div>
    </div>
    <div class="slider-info"></div>
    <div class="control-buttons">
        <button type="button" class="control-button" (click)="sliderContainer.swiper.slidePrev()">
            <svg>
                <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="control-button" (click)="sliderContainer.swiper.slideNext()">
            <svg>
                <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</div>