<section class="page-section inner-page-section">
    <div class="container">
        <header class="page-section-header inner-page-section-header">
            <h2 class="section-title">
                <span>Пространства <br> Для бизнеса</span>
                <div class="background-words">
                    for <br> business
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Lorem ipsum dolor sit amet,</strong>
                    consectetur adipiscing elit. Aenean risus enim, pellentesque ac malesuada eget, gravida a tellus.
                </p>
            </div>
        </header>
        <div class="business-cards" *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
            <app-business-slider *ngFor="let space of spaces" [space]="space"></app-business-slider>
        </div>

        <!-- mobile cards -->
        <div class="mobile-cards" *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
            <app-mobile-business-card *ngFor="let space of spaces" [content]="space"></app-mobile-business-card>
        </div>
    </div>
</section>

<app-footer></app-footer>
