@import "theme";
@import "responsive";

.page-section-header {
    margin-bottom: 97px;

    @include media-breakpoint-only($xl) {
        margin-bottom: 60px;
    }
}

.business-cards {

    > * {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }

    @include media-breakpoint-only($xl) {
        > * {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}

.container {
    overflow: hidden;
}

// mobile cards
.mobile-cards {
    > * {
        margin-bottom: 32px;
    }
}