@import "responsive";

.page-section-header {
    margin-bottom: 97px;

    @include media-breakpoint-only($xxl) {
        margin-bottom: 60px;
    }
}

.aparts {

    > * {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }

    @include media-breakpoint-only($xxl) {
        > * {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}