<div class="inner-page">
    <div 
        class="inner-page-first-screen" 
        *ngIf="showFirstScreen && (screen === 'lg' || screen === 'xl')"
        [@fadeOut]
        (wheel)="scrollHandler($event)"
    >
        <section class="page-section inner-page-section">
            <div class="container">
                <header class="page-section-header inner-page-section-header">
                    <h1 class="section-title">
                        <span data-aos="fade-up" data-aos-duration="600">Услуги</span>
                        <div 
                            class="background-words" 
                            data-aos="custom fade-right-long" 
                            data-aos-easing="ease-out"
                            data-aos-duration="1000"
                        >
                            service
                        </div>
                    </h1>
                    <div class="section-description" data-aos="fade-up" data-aos-duration="600">
                        <p>Valo Hotel City предлагает <strong> все гостиничные сервисы,</strong> которые только могут потребоваться: круглосуточное обслуживание апартаментов, служба клининга, химчистка, прачечная, доставка еды, консьерж-служба.</p>
                    </div>
                </header>
            </div>
            <div class="inner-page-image">
                <img src="assets/images/pages/service/background-image.jpg" alt="service image">
                <div class="container">
                    <button type="button" class="scroll-alert" (click)="showFirstScreen = false">
                        <svg class="scroll-alert-icon" width="12px" height="18px">
                            <use xlink:href="assets/sprites/icons.svg#ico-mouse"></use>
                        </svg>
                        <span>Листайте вниз</span>
                    </button>
                </div>
            </div>
        </section>
    </div>
    <div class="inner-page-content" [@fadeIn]="showFirstScreen ? 'hide' : 'show'">
        <div class="container inner-page-container">
            <div class="inner-page-content-left">
                <perfect-scrollbar class="scrollbar">
                    <header class="detail-page-header">
                        <h2 class="section-title">
                            <span data-aos="fade-up" data-aos-duration="600">Услуги</span>
                            <div 
                                class="background-words" 
                                data-aos="custom fade-right-long" 
                                data-aos-easing="ease-out"
                                data-aos-duration="1000"
                            >
                                service
                            </div>
                        </h2>
                        <div class="section-description" data-aos="fade-up" data-aos-duration="600">
                            <p>
                                <strong>Ресторанный комплекс VALO HOTEL CITY.</strong> Лучшее место для праздничного торжества, корпоративной вечеринки или праздничного банкета! Можно организовать любые деловые мероприятия, провести переговоры, семинары и конференции.
                            </p>
                        </div>
                    </header>

                    <!-- inner cards -->
                    <div class="inner-cards-wrapper">
                        <div class="inner-cards-item" *ngFor="let group of groups; index as i" [id]="'group-' + group.id">
                            <header class="inner-cards-header">
                                <h3>{{ group.name }}</h3>
                                <div class="inner-category-designation">
                                    <div>—</div>
                                    <div class="letter">{{ getChar(i) }}</div>
                                </div>
                            </header>

                            <div class="inner-cards" *ngIf="screen === 'lg' || screen === 'xl'">
                                <app-service-card *ngFor="let card of group.services" [card]="card"></app-service-card>
                            </div>

                            <!-- slider -->
                            <app-mobile-inner-slider 
                                *ngIf="screen !== 'lg' && screen !== 'xl'" 
                                [content]="group.services"
                                [pagination]="'pagination-' + i"
                            ></app-mobile-inner-slider>
                            
                        </div>
                    </div>

                </perfect-scrollbar>
            </div>
            <div class="inner-page-content-right">
                <perfect-scrollbar class="scrollbar">
                    <ul class="inner-menu-list">
                        <li class="inner-menu-list-item" *ngFor="let group of groups">
                            <button
                                class="inner-menu-list-button"
                                (click)="scrollToElement('#group-' + group.id)"
                                type="button"
                            >
                                {{ group.name }}
                            </button>
                        </li>
                    </ul>
                    <div class="content-right-text">
                        <p>
                            Valo Hotel City предлагает <strong>все гостиничные сервисы,</strong> которые только могут потребоваться: круглосуточное обслуживание апартаментов, служба клининга, химчистка, прачечная, доставка еды, консьерж-служба.
                        </p>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>

        <!-- background block -->
        <div class="background-block">
            <img src="assets/images/pages/service/bitmap.jpg" alt="menu background image">
        </div>
    </div>
</div>

<app-footer *ngIf="screen !== 'lg' && screen !== 'xl'"></app-footer>