<div class="inner-page">
    <div class="inner-page-first-screen" *ngIf="false">
        <section class="page-section inner-page-section">
            <div class="container">
                <header class="page-section-header inner-page-section-header">
                    <h1 class="section-title">
                        <span>Услуги</span>
                        <div class="background-words">
                            service
                        </div>
                    </h1>
                    <div class="section-description">
                        <p>Valo Hotel City предлагает <strong> все гостиничные сервисы,</strong> которые только могут потребоваться: круглосуточное обслуживание апартаментов, служба клининга, химчистка, прачечная, доставка еды, консьерж-служба.</p>
                    </div>
                </header>
            </div>
            <div class="inner-page-image">
                <img src="assets/images/pages/service/background-image.jpg" alt="service image">
                <div class="container">
                    <button type="button" class="scroll-alert">
                        <svg class="scroll-alert-icon" width="12px" height="18px">
                            <use xlink:href="assets/sprites/icons.svg#ico-mouse"></use>
                        </svg>
                        <span>Листайте вниз</span>
                    </button>
                </div>
            </div>
        </section>
    </div>
    <div class="inner-page-content">
        <div class="container inner-page-container">
            <div class="inner-page-content-left">
                <perfect-scrollbar class="scrollbar">
                    <header class="detail-page-header">
                        <h2 class="section-title">
                            <span>Услуги</span>
                            <div class="background-words">
                                docs
                            </div>
                        </h2>
                        <div class="section-description">
                            <p>
                                <strong>Ресторанный комплекс VALO HOTEL CITY.</strong> Лучшее место для праздничного торжества, корпоративной вечеринки или праздничного банкета! Можно организовать любые деловые мероприятия, провести переговоры, семинары и конференции.
                            </p>
                        </div>
                    </header>

                    <!-- inner cards -->
                    <div class="inner-cards-wrapper">
                        <div class="inner-cards-item" *ngFor="let group of groups; index as i" [id]="'group-' + group.id">
                            <header class="inner-cards-header">
                                <h3>{{ group.name }}</h3>
                                <div class="inner-category-designation">
                                    <div>—</div>
                                    <div class="letter">{{ getChar(i) }}</div>
                                </div>
                            </header>

                            <div class="inner-cards" *ngIf="screen === 'lg' || screen === 'xl'">
                                <app-service-card *ngFor="let card of group.services" [card]="card"></app-service-card>
                            </div>

                            <!-- slider -->
                            <div class="slider inner-slider" *ngIf="screen !== 'lg' && screen !== 'xl'">
                                <div class="swiper-container" [swiper]="config" #sliderContainer>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" *ngFor="let card of group.services">
                                            <app-service-card [card]="card"></app-service-card>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-buttons">
                                    <button type="button" class="control-button" (click)="sliderContainer.swiper.slidePrev()">
                                        <svg>
                                            <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="control-button" (click)="sliderContainer.swiper.slideNext()">
                                        <svg>
                                            <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </perfect-scrollbar>
            </div>
            <div class="inner-page-content-right">
                <perfect-scrollbar class="scrollbar">
                    <ul class="inner-menu-list">
                        <li class="inner-menu-list-item" *ngFor="let group of groups">
                            <button
                                class="inner-menu-list-button"
                                (click)="scrollToElement('#group-' + group.id)"
                                type="button"
                            >
                                {{ group.name }}
                            </button>
                        </li>
                    </ul>
                    <div class="content-right-text">
                        <p>
                            Valo Hotel City предлагает <strong>все гостиничные сервисы,</strong> которые только могут потребоваться: круглосуточное обслуживание апартаментов, служба клининга, химчистка, прачечная, доставка еды, консьерж-служба.
                        </p>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>

        <!-- background block -->
        <div class="background-block">
            <img src="assets/images/pages/service/bitmap.jpg" alt="menu background image">
        </div>
    </div>
</div>

<app-footer *ngIf="screen !== 'lg' && screen !== 'xl'"></app-footer>