<div class="apartment">
    <div class="apartment-gradient"></div>
    <div class="apartment-container">
        <div class="apartment-content">
            <div class="apartment-content-left">
                <div class="apartment-info">
                    <p>{{ apartment.area }} м<sup>2</sup></p>
                    <p>для {{ apartment.guestsCount }}-х</p>
                </div>
                <div class="apartment-main">
                    <h2 class="light apartment-title">{{ apartment.name }}</h2>
                    <perfect-scrollbar class="scrollbar light-scrollbar">
                        <div class="apartment-description" [innerHTML]="apartment.description | paragraphs"></div>
                    </perfect-scrollbar>
                    <div class="apartment-buttons">
                        <a [routerLink]="['/apartments', apartment.id]" class="button light">Подробнее</a>
                        <a [routerLink]="[]" class="button secondary">Забронировать</a>
                    </div>
                </div>
            </div>
            <div class="apartment-content-right">
                <div class="slider-controls">
                    <div class="slider-index">{{ index + 1 }}/{{ apartment.imagesXl.length }}</div>
                    <button type="button" class="control-button" (click)="apartmentSlider.swiper.slidePrev()">
                        <svg>
                            <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button" class="control-button" (click)="apartmentSlider.swiper.slideNext()">
                        <svg>
                            <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="apartment-slider">
        <div class="swiper-container" [(index)]="index" [swiper]="config" #apartmentSlider>
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of apartment.imagesXl; index as i">
                  <app-responsive-image [xl]="apartment.imagesXl[i]" [lg]="apartment.imagesLg[i]" [md]="apartment.imagesMd[i]" [sm]="apartment.imagesSm[i]"></app-responsive-image>
                </div>
            </div>
        </div>
    </div>
</div>
