@import "theme";

:host {
    display: block;
}

.apartment {
    position: relative;
    height: 536px;
}

.apartment-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, rgba(17, 18, 28, 0.9) 100%);
}

.apartment-container,
.apartment-content,
.apartment-content-left,
.apartment-content-right {
    height: 100%;
}

.apartment-container {
    position: relative;
    z-index: 1;
}

.apartment-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.apartment-content-left, .apartment-content-right {
    padding: 48px;
}

.apartment-content-left {
    display: flex;
    max-width: 536px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0;
}

.scrollbar {
    height: initial;
    margin-bottom: 48px;
}

.apartment-content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.apartment-main {
    display: flex;
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    justify-content: flex-end;
}

.apartment-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 25px;

    sup {
        font-size: 8px;
        margin-left: 1px;
    }

    > * {
        border-radius: 24px;
        padding: 0 16px 2px;
        background-color: $light-gray;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}

.apartment-description {
    max-width: 487px;
    color: $light-color;
}

.apartment-title {
    margin-bottom: 24px;
    max-width: 355px;
}

.apartment-buttons {
    display: flex;
    align-items: center;

    > * {
        min-width: 170px;
        padding-left: 24px;
        padding-right: 24px;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}

.apartment-slider {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    ::ng-deep img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-container, .swiper-wrapper {
        height: 100%;
    }
}
