<perfect-scrollbar>
    <div class="feedback-wrapper">

        <!-- form content -->
        <div class="form-content" *ngIf="!notificationVisible">
            <div class="background-words">Valo <br> Hotel <br> City</div>
            <div class="feedback-content">
                <header class="feedback-header">
                    <h3 class="feedback-title">Отправить заявку</h3>
                    <div class="feedback-header-text">
                        <p>
                            Двухместный номер с 1 кроватью
                        </p>
                    </div>
                </header>
                <form [formGroup]="formGroup" class="feedback-form">
                    <div class="form-controls">
                        <app-text [placeholder]="'Имя'" [formControlName]="'name'" class="form-control"></app-text>
                        <app-text [placeholder]="'E–mail'" [formControlName]="'email'" class="form-control"></app-text>
                        <app-text [placeholder]="'Телефон'" [formControlName]="'phone'" class="form-control"></app-text>
                    </div>
                    <app-checkbox 
                        class="form-checkbox"
                        [formControlName]="'agree'" 
                        [label]="'Согласен с'" 
                        [dataProcessingText]="'правилами обработки данных'" 
                        [ngModel]="agree"
                    ></app-checkbox>
                    <button type="submit" class="button secondary book-btn" (click)="submit()">Отправить заявку</button>
                </form>
            </div>
        </div>

        <!-- notification content -->
        <div class="notification-content" *ngIf="notificationVisible">
            <h3 class="feedback-title">Заявка отправлена</h3>
            <div class="notification-text">
                <p><strong>Наш менеджер свяжется с вами в течении часа в рабочее время,</strong> consectetur adipiscing elit. Aenean risus enim, pellentesque ac malesuada eget, gravida a tellus.</p>
            </div>
            <button type="button" class="button secondary" (click)="notificationVisible = false">Понятно</button>
        </div>
    </div>
</perfect-scrollbar>