@import "theme";
@import "responsive";

.page-section {
    background-color: $text-color;
    overflow: hidden;

    @include media-breakpoint-only($md) {
        padding-bottom: 32px;
    }
}

.description-content {
    display: flex;

    @include media-breakpoint-only($lg) {
        align-items: center;
        flex-wrap: wrap;
    }
}

.description-video {
    width: 100%;
    max-width: 536px;
    flex-shrink: 0;
    margin-right: 40px;
    position: relative;
    height: 302px;

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }

    @include media-breakpoint-only($lg) {
        max-width: 100%;
        margin-right: 0;
        height: 415px;
        z-index: 1;
    }

    @include media-breakpoint-only($md) {
        height: 0;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-only($md) {
        width: 70px;
        height: 70px;
    }
}

.description-info {
    position: relative;
    padding-left: 48px;

    .button {
        margin-top: auto;
    }

    @include media-breakpoint-only($lg) {
        order: -1;
        padding-left: 0;
        margin-bottom: 48px;
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 0;
    }
}

.description-info-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description-title {
    margin-bottom: 30px;

    @include media-breakpoint-only($lg) {
        margin-bottom: 0;

        br {
            display: none;
        }
    }

    @include media-breakpoint-only($md) {
        font-size: 14px;
        line-height: 1.79;
        margin-bottom: 32px;
    }
}

.background-words {
    top: 30px;
    left: 0;

    @include media-breakpoint-only($lg) {
        top: -48px;
        left: -15px;
        font-size: 104px;
        line-height: 0.85;
    }

    @include media-breakpoint-only($md) {
        display: none;
    }
}

[data-aos="custom expand-description-image"] {
    &.aos-animate {

        @include media-breakpoint-only($lg) {
            transform: translateX(0) scale(1.05);
        }
    }   
}