@import "responsive";

.service-card-image {
    padding-bottom: 69.5%;
    margin-bottom: 24px;
    position: relative;

    img {
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        object-fit: cover;
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 16px;
    }
}

h6 {
    @include media-breakpoint-only($md) {
        padding: 0 16px;
    }
}