<section class="page-section">
    <img src="assets/images/advantages/advantages-img.jpg" alt="advantages image" class="advantages-background">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Преимущества</h6>
            </div>
            <h2 class="section-title">
                <span>Лучший комплекс апартаментов комфорт-класса Санкт-Петербурга</span>
            </h2>
        </header>
        <div class="slider">
            <div class="swiper-container" [swiper]="config" #iconsSlider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let icon of icons">
                        <svg class="icon-item" [attr.width]="icon.width" [attr.height]="icon.height">
                            <use [attr.xlink:href]="icon.src"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="control-buttons">
                <button type="button" class="control-button gray" (click)="iconsSlider.swiper.slidePrev()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="control-button gray" (click)="iconsSlider.swiper.slideNext()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
