<section class="page-section">
    <img 
        [lazyLoad]="'assets/images/advantages/advantages-img.jpg'" 
        [offset]="200" 
        alt="advantages image" 
        class="advantages-background"
        data-aos="custom fade-right" 
        data-aos-duration="500"
    >
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Преимущества</h6>
            </div>
            <h2 class="section-title">
                <span>Лучший комплекс апартаментов комфорт-класса Санкт-Петербурга</span>
            </h2>
        </header>
        <div class="slider">
            <div class="swiper-container" [swiper]="config" #iconsSlider>
                <div class="swiper-wrapper">

                    <!-- desktop sizes -->
                    <ng-container *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
                        <div 
                            data-aos="fade-up"
                            data-aos-duration="350" 
                            [attr.data-aos-delay]="(i + 1) * 250"
                            class="swiper-slide" 
                            *ngFor="let icon of icons; index as i"
                        >
                            <div class="icon-item">
                                <svg [attr.width]="icon.size.desktop.width" [attr.height]="icon.size.desktop.height">
                                    <use [attr.xlink:href]="icon.src"></use>
                                </svg>
                            </div>
                            <h5 class="icon-title">{{ icon.title }}</h5>
                        </div>
                    </ng-container>

                    <!-- mobile sizes -->
                    <ng-container *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
                        <div class="swiper-slide" *ngFor="let icon of icons">
                            <div class="icon-item">
                                <svg [attr.width]="icon.size.mobile.width" [attr.height]="icon.size.mobile.height">
                                    <use [attr.xlink:href]="icon.src"></use>
                                </svg>
                            </div>
                            <h5 class="icon-title">{{ icon.title }}</h5>
                        </div>
                    </ng-container>

                </div>
            </div>
            <div class="control-buttons">
                <button type="button" class="control-button gray" (click)="iconsSlider.swiper.slidePrev()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="control-button gray" (click)="iconsSlider.swiper.slideNext()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="slider-info advantages-pagination"></div>
</section>
