@import "theme";
@import "responsive";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba($text-color, 0.85);
}

.close {
  position: fixed;
  z-index: 1100;
  top: 0; 
  right: 0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;

  svg {
    width: 12px;
    height: 12px;
    fill: $text-color;
  }

  @include media-breakpoint-only($md) {
    width: 56px;
    height: 48px;
  }
}