<ng-container *ngIf="current">
    <div class="overlay" [@fadeInOut] (click)="modal.close()">
    </div>
    <ng-container>
        <app-apartment-view-request [@slideRight] *ngIf="current && current.id === 'apartment-view-request'" [id]="current.parameters ? current.parameters['id'] : null"></app-apartment-view-request>
        <app-business-space-request [@slideRight] *ngIf="current && current.id === 'business-space-request'" [id]="current.parameters['id']"></app-business-space-request>
    </ng-container>
    <button type="button" class="close button gray" (click)="current.id !== 'confirm' ? modal.close() : null">
        <svg>
            <use xlink:href="assets/sprites/icons.svg#close"></use>
        </svg>
    </button>
</ng-container>
