<div class="feedback-wrapper">
    <div class="background-words">Valo <br> Hotel <br> City</div>
    <header class="feedback-header">
        <h2 class="feedback-title">Отправить заявку</h2>
        <div class="feedback-header-text">
            <p>
                Двухместный номер с 1 кроватью
            </p>
        </div>
    </header>
    <form class="feedback-form">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="checkbox">
        <button type="submit" class="button secondary">Отправить заявку</button>
    </form>
</div>