<section class="page-section">
    <div class="container">
        <div class="description-content">
            <div 
                class="description-image"
                data-aos="custom expand-description-image"
                data-aos-anchor-placement="top-center"
                data-aos-duration="650"
            >
                <img [lazyLoad]="'assets/images/description/description-image.jpg'" [offset]="200" alt="description image">
            </div>
            <div class="description-info">
                <div 
                    class="background-words stroked"
                    data-aos="custom slide-right-long"
                    data-aos-easing="ease-out"
                    data-aos-duration="600"
                >
                    <div 
                        data-aos-anchor-placement="top-center"
                        data-aos="custom move-bottom" 
                        data-aos-duration="550"
                    >Valo Hotel City</div>
                </div>
                <div class="description-info-container">
                    <h3 class="description-title light">
                        <p>
                            <span class="secondary-color">Уникальный комплекс апартаментов</span>, по своему устройству и инфраструктуре напоминающий «город отелей». VALO HOTEL CITY находится в удобном деловом районе с хорошо развитой транспортной, социальной и коммерческой инфраструктурой, прямо напротив станции метро.
                        </p>
                    </h3>
                   <!-- <button type="button" class="button secondary">Спецпредложения</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
