@import "theme";
@import "responsive";

.page-section {
    background-color: $text-color;

    @include media-breakpoint-only($md) {
        padding-bottom: 32px;
    }
}

.description-content {
    display: flex;

    @include media-breakpoint-only($xl) {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        grid-gap: 32px;
        flex-direction: column;
    }

    @include media-breakpoint-only($md) {
        grid-gap: 0;
    }
}

.description-image {
    width: 100%;
    max-width: 536px;
    flex-shrink: 0;
    margin-right: 40px;

    @include media-breakpoint-only($xl) {
        margin-right: 0;
        margin-bottom: 40px;
        max-width: 100%;
        height: 280px;
    }

    @include media-breakpoint-only($md) {
        height: 200px;
        margin-bottom: 24px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.description-info {
    position: relative;
    padding-left: 48px;
    
    @include media-breakpoint-only($xl) {
        padding-left: 0;
    }

    .button {
        margin-top: auto;

        @include media-breakpoint-only($md) {
            width: 100%;
        }
    }
}

.description-info-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description-title {
    margin-bottom: 30px;

    @include media-breakpoint-only($lg) {
        font-size: 17px;
        line-height: 1.59;
        margin-bottom: 40px;
    }

    @include media-breakpoint-only($md) {
        font-size: 14px;
        line-height: 1.79;
        margin-bottom: 24px;
    }
}

.background-words {
    top: 7px;
    left: 0;

    @include media-breakpoint-only($xl) {
        display: none;
    }
}