<section class="page-section">
    <div class="container">
        <div class="description-content">
            <div class="description-image">
                <img src="assets/images/description/description-image.jpg" alt="description image">
            </div>
            <div class="description-info">
                <div class="background-words stroked">Valo Hotel City</div>
                <div class="description-info-container">
                    <h3 class="description-title light">
                        <p>
                            Уникальный <span class="secondary-color">апарт-комплекс</span> во Фрунзенском районе, сочетающий в себе  европейское обслуживание и традиционное русское гостеприимство
                        </p>
                    </h3>
                    <button type="button" class="button secondary">Спецпредложения</button>
                </div>
            </div>
        </div>
    </div>
</section>