@import "theme";
@import "responsive";

.page-section {
    border-top: 1px solid $border-color;
}

.apartment-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 536px);
    grid-gap: 40px;

    @include media-breakpoint-only($xl) {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        grid-gap: 32px;
    }

    @include media-breakpoint-only($md) {
        display: block;
    }
}