<section class="page-section">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Номера</h6>
            </div>
            <h2 class="section-title">
                <span>Каждый номер <br> создан для комфортного проживания</span>
                <div 
                    class="background-words" 
                    data-aos="custom fade-right-long" 
                    data-aos-easing="ease-out"
                    data-aos-duration="1000"
                >
                    apart– <br> ments
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Философия и основная цель комплекса VALO</strong>
                    — обеспечить людей комфортом, уютом и качественным жильем.
                </p>
            </div>
        </header>
        <div class="apartment-cards" *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
            <app-apartment-card *ngFor="let apartment of apartments" [apartment]="apartment"></app-apartment-card>
        </div>

        <div class="apartment-slider" *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let apartment of apartments">
                        <app-apartment-card [apartment]="apartment"></app-apartment-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-info apartments-pagination"></div>
</section>