<section class="page-section">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Услуги <br> и сервисы</h6>
            </div>
            <h2 class="section-title">
                <span>Гостиничный сервис<br>высочайшего класса</span>
                <div 
                    class="background-words" 
                    data-aos="custom fade-right-long" 
                    data-aos-easing="ease-out"
                    data-aos-duration="1000"
                >
                    our <br> service
                </div>
            </h2>
            <div class="section-description">
                <p>
                    Valo Hotel City предлагает <strong>все гостиничные сервисы</strong>, которые только могут потребоваться: круглосуточное обслуживание апартаментов, служба клининга, химчистка, прачечная, доставка еды, консьерж-служба.
                </p>
            </div>
        </header>
        <div class="slider">
            <div class="swiper-container" [swiper]="config" #serviceSlider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let card of cards">
                        <app-service-card [card]="card"></app-service-card>
                    </div>
                </div>
            </div>
            <div class="control-buttons">
                <button type="button" class="control-button" (click)="serviceSlider.swiper.slidePrev()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="control-button" (click)="serviceSlider.swiper.slideNext()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="slider-info services-pagination"></div>
</section>
