@import "theme";
@import "responsive";

:host {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: block;
    padding: 0 84px;
    max-width: 1280px;

    @include media-breakpoint-only($xxl) {
        padding: 0;
        width: 100%;
    }
}

.booking-form {
    background-color: $light-color;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.data-blocks {
    display: flex;
}

.data-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 37px 19px;
    width: 222px;
    flex: 0 0 222px;
    border-right: 1px solid $border-color;

    @include media-breakpoint-only($xxl) {
        width: 180px;
        flex: 1 0 180px;
        padding: 24px 33px 24px;
    }

    &.calendar {
        transition: background-color .2s ease;
        cursor: pointer;

        &:hover {
            background-color: darken($light-gray, 4.6%);
        }
    
        &:active {
            background-color: darken($light-gray, 12%);
        }
    }

    &.counter {
        .data-block-content {
            flex-direction: row;
        }

        .data-block-number {
            width: 50px;
            text-align: center;
            margin-right: 0;
        }
    }
}

.data-block-text {
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 1px;
    width: 100%;
    text-transform: uppercase;

    @include media-breakpoint-only($xxl) {
        margin-bottom: 4px;
    }
}

.data-block-field {
    display: flex;
    align-items: center;
}

.data-block-number {
    margin-right: 18px;
    font-size: 30px;
    line-height: 1.6;
    font-weight: 700;
    width: 36px;
    text-align: center;

    @include media-breakpoint-only($xxl) {
        font-size: 17px;
        line-height: 1.59;
        width: 21px;
        margin-right: 8px;
    }
}

.data-hidden-input {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
    margin: 0 auto 0 0;
}

.data-block-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-only($xxl) {
        flex-direction: row;
    }
}

.data-block-month {
    margin-bottom: 4px;
    font-size: 12px;
    width: 90px;
    line-height: 1.333333;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    @include media-breakpoint-only($xxl) {
        margin-bottom: 0;
    }
}

.data-calendar-wrapper {
    display: flex;
    flex-direction: column;
}

.find-apartments {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    padding: 5px;
}

.arrow-control {
    position: relative;
}

.decrease-control {
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 10px;
        height: 2px;
        background-color: $text-color;
    }
}

.increase-control {
    &::before, &::after {
        content: '';
        background-color: $text-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        width: 10px;
        height: 2px;
    }

    &::after {
        width: 2px;
        height: 10px;
    }
}