<form class="booking-form">
    <div class="data-blocks">

        <!-- data calendar -->
        <div class="data-block calendar" (click)="picker1.open()">
            <input
                class="data-hidden-input"
                (dateInput)="entryDate($event)"
                [matDatepicker]="picker1"
                (dateChange)="checkDates()"
                placeholder="Choose a date"
            >
            <div class="data-calendar-wrapper">
                <div class="data-block-text">Въезд</div>
                <div class="data-block-field">
                    <div class="data-block-number">{{ entryDateValue | date: 'd' }}</div>

                    <div class="data-block-content">
                        <mat-datepicker #picker1></mat-datepicker>

                        <div class="data-block-month">{{ entryDateValue | date: 'MMMM' }}</div>
                        <svg class="chevron-icon">
                            <use xlink:href="assets/sprites/icons.svg#chevron-down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <!-- data calendar -->
        <div class="data-block calendar" (click)="picker2.open()">
            <input
                class="data-hidden-input"
                (dateInput)="departureDate($event)"
                [matDatepicker]="picker2"
                placeholder="Choose a date"
                (dateChange)="checkDates()"
            >
            <div class="data-calendar-wrapper">
                <div class="data-block-text">Выезд</div>
                <div class="data-block-field">
                    <div class="data-block-number">{{ departureDateValue | date: 'd' }}</div>

                    <div class="data-block-content">
                        <mat-datepicker #picker2></mat-datepicker>

                        <div class="data-block-month">{{ departureDateValue | date: 'MMMM' }}</div>
                        <svg class="chevron-icon">
                            <use xlink:href="assets/sprites/icons.svg#chevron-down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <!-- data block counter -->
        <div class="data-block counter">
            <div class="data-calendar-wrapper">
                <div class="data-block-text">Гостей</div>
                <div class="data-block-field">
                    <div class="data-block-content">
                        <button type="button" class="arrow-control decrease-control" (click)="decreaseGuestsCounter()">
                        </button>
                        <div class="data-block-number">{{ guestsCounter }}</div>
                        <button type="button" class="arrow-control increase-control" (click)="increaseGuestsCounter()">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- data block counter -->
        <div class="data-block counter">
            <div class="data-calendar-wrapper">
                <div class="data-block-text">Номеров</div>
                <div class="data-block-field">
                    <div class="data-block-content">
                        <button
                            type="button"
                            class="arrow-control decrease-control"
                            (click)="decreaseApartmentsCounter()"
                        >
                        </button>
                        <div class="data-block-number">{{ apartmentsCounter }}</div>
                        <button
                            type="button"
                            class="arrow-control increase-control"
                            (click)="increaseApartmentsCounter()"
                        >
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="find-apartments">
            <a [href]="bookingUrl" target="_blank" class="button">Найти номер</a>
        </div>
    </div>
</form>
