<div class="rent-first-screen">
    <div class="container">

        <div class="rent-wrapper">
            <perfect-scrollbar class="scrollbar">
                <div class="rent-content">
                    <div class="rent-top">
                        <h1 class="section-title rent-title">
                            <span>Долгосрочная аренда апартамента</span>
                            <div 
                                class="background-words" 
                                data-aos="custom fade-right-long" 
                                data-aos-easing="ease-out"
                                data-aos-duration="1000"
                            >
                                rental
                            </div>
                        </h1>
                        <ul class="rent-infoblocks">
                            <li class="rent-infoblock">
                                <div class="infoblock-icon">
                                    <svg class="rent-icon" width="29.5px" height="27px">
                                        <use xlink:href="assets/sprites/icons.svg#ico-location"></use>
                                    </svg>
                                </div>
                                <span>Отличное расположение <br> и развитая инфраструктура</span>
                            </li>
                            <li class="rent-infoblock">
                                <div class="infoblock-icon">
                                    <svg class="rent-icon" width="26px" height="24px">
                                        <use xlink:href="assets/sprites/icons.svg#ico-furniture"></use>
                                    </svg>
                                </div>
                                <span>Полное оснащение апартамента: есть все необходимое для комфортной жизни</span>
                            </li>
                        </ul>
                    </div>
                    <div class="rent-bottom" *ngIf="screen === 'lg' || screen === 'xl'">
                        <button
                            type="button"
                            class="button secondary"
                            (click)="modal.open('apartment-view-request')"
                        >Записаться на просмотр</button>
                        <span class="next-room" (click)="scrollToApartments()">Цены на аренду</span>
                    </div>
                </div>
            </perfect-scrollbar>

            <div class="bottom-image" *ngIf="screen === 'md'">
                <img src="assets/images/pages/rent/first-screen/bitmap.jpg" alt="first screen image">
                <div 
                    class="bottom-button" 
                    data-aos="zoom-in"
                    data-aos-delay="350" 
                    data-aos-duration="500"
                    data-aos-anchor-placement="bottom-bottom"
                >
                    <button
                        type="button"
                        class="button secondary"
                        (click)="modal.open('apartment-view-request')"
                    >Записаться на просмотр</button>
                </div>
                
            </div>
        </div>

        <div 
            class="absolute-image" 
            *ngIf="screen === 'lg' || screen === 'xl'"
            data-aos="custom rent-absolute-image-up"
            data-aos-anchor-placement="bottom-bottom" 
            data-aos-duration="1000"
        >
            <img src="assets/images/pages/rent/first-screen/absolute-image.jpg" alt="absolute image">
        </div>
    </div>
    <div class="background-block" *ngIf="screen === 'lg' || screen === 'xl'">
        <div 
            class="background-image-wrapper"
            data-aos="custom show" 
            data-aos-delay="400"
            data-aos-duration="0"
        >
            <img 
                src="assets/images/pages/rent/first-screen/bitmap.jpg" 
                alt="first screen image"
                data-aos="custom scale-increase-big" 
                data-aos-delay="400"
                data-aos-duration="1500"
            >
        </div>
        <div class="animation-background-block"></div>
    </div>

    <!-- booking section -->
    <div
        style="background-image: url(assets/images/apartments/apartment-1.jpg)"
        class="booking-section"
        *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'"
    >
        <div 
            class="bottom-button" 
            data-aos="zoom-in"
            data-aos-delay="350" 
            data-aos-duration="500"
            data-aos-anchor-placement="bottom-bottom"
        >
            <button
                type="button"
                class="button secondary"
                (click)="modal.open('apartment-view-request')"
            >Записаться на просмотр</button>
        </div>
    </div>
</div>
