<div class="rent-first-sceen">
    <div class="container">

        <div class="rent-wrapper">
            <perfect-scrollbar class="scrollbar">
                <div class="rent-content">
                    <div class="rent-top">
                        <h1 class="section-title rent-title">
                            <span>Долгосрочная аренда апартамента</span>
                            <div class="background-words">
                                rental
                            </div>
                        </h1>
                        <ul class="rent-infoblocks">
                            <li class="rent-infoblock">
                                <div class="infoblock-icon">
                                    <svg class="rent-icon" width="29.5px" height="27px">
                                        <use xlink:href="assets/sprites/icons.svg#ico-location"></use>
                                    </svg>
                                </div>
                                <span>Отличное расположение <br> и развитая инфраструктура</span>
                            </li>
                            <li class="rent-infoblock">
                                <div class="infoblock-icon">
                                    <svg class="rent-icon" width="26px" height="24px">
                                        <use xlink:href="assets/sprites/icons.svg#ico-furniture"></use>
                                    </svg>
                                </div>
                                <span>Полное оснащение апартамента: есть все необходимое для комфортной жизни</span>
                            </li>
                        </ul>
                    </div>
                    <div class="rent-bottom">
                        <button 
                            type="button" 
                            class="button secondary" 
                            (click)="modal.open('feedback-form')"
                        >Записаться на просмотр</button>
                        <a [routerLink]="[]" class="next-room" (click)="scrollToApartments()">Цены на аренду</a>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>

        <div class="absolute-image">
            <img src="assets/images/pages/rent/first-screen/absolute-image.jpg" alt="absolute image">
        </div>
    </div>
    <div class="background-block">
        <img src="assets/images/pages/rent/first-screen/bitmap.jpg" alt="first screen image">
    </div>
</div>