@import "theme";
@import "responsive";

:host {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    z-index: 1001;

    @include media-breakpoint-only($lg) {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 1px;
        z-index: 101;
        background-color: $border-color;
    }
    
}

.menu, .menu-content {
    height: 100%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 100;
    background-color: $light-color;
}