:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    ::ng-deep {
        app-index {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
        }
    }
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

