<app-header
  data-aos="custom fade-bottom" 
  data-aos-delay="2200"
  data-aos-duration="300"
></app-header>
<app-side-panel 
  data-aos="custom fade-left" 
  data-aos-delay="2200"
  data-aos-duration="300"
></app-side-panel>
<app-main-menu [exclude]="'.open-menu'" (clickOutside)="menu.showMenu = false"></app-main-menu>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-modal></app-modal>
<div class="animation-white-background" *ngIf="showWhiteBlock"></div>
<div class="animation-block" *ngIf="animationLoading.animationLoading">
  <div class="loading-animation">
    <div class="loading-animation-block block-1"></div>
    <div class="loading-animation-block block-2"></div>
    <div class="loading-animation-block block-3"></div>
    <div class="loading-animation-block block-4"></div>
  </div>
  <h1 class="main-title" *ngIf="showTitle">
    Valo 
    <br>
    Hotel 
    <br>
    City
  </h1>
</div>

<img src="assets/images/first-screen/main.jpg" alt="cache image" class="cache-image">