@import "theme";
@import "responsive";

.page-section-header {
    margin-bottom: 104px;

    @include media-breakpoint-only($xl) {
        margin-bottom: 32px;
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 24px;
    }
}

app-booking-form {
    position: static;
    transform: translate(0, 0);
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 64px;

    @include media-breakpoint-only($xl) {
        margin-bottom: 40px;
        border-top: 1px solid $border-color;
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 32px;
        border-top: 0;
    }
}

.aparts {

    > * {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }

    @include media-breakpoint-only($xl) {
        > * {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}

// mobile cards
.mobile-cards {
    > * {
        margin-bottom: 32px;
    }
}