<section class="page-section inner-page-section">
    <div class="container">
        <header class="page-section-header inner-page-section-header">
            <h2 class="section-title">
                <span>Номера <br> Valo Hotel City</span>
                <div class="background-words">
                    apart– <br> ments
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Философия и основная цель комплекса VALO</strong>
                    — обеспечить людей комфортом, уютом и качественным жильем.
                </p>
            </div>
        </header>        
    </div>

    <app-booking-form class="container"></app-booking-form>

    <div class="container">
        <div *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'" class="aparts">
            <app-apartment-slider *ngFor="let apartment of apartments" [apartment]="apartment"></app-apartment-slider>
        </div>

        <!-- mobile cards -->
        <div class="mobile-cards" *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
            <app-mobile-apartment-card *ngFor="let apartment of apartments" [content]="apartment"></app-mobile-apartment-card>
        </div>

    </div>

</section>

<app-footer></app-footer>
