<section class="page-section inner-page-section">
    <div class="container">
        <header class="page-section-header inner-page-section-header">
            <h2 class="section-title">
                <span>Номера <br> Valo Hotel City</span>
                <div class="background-words">
                    apart– <br> ments
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Философия и основная цель комплекса VALO</strong>
                    — обеспечить людей комфортом, уютом и качественным жильем.
                </p>
            </div>
        </header>
        <app-booking-form></app-booking-form>

        <div class="aparts">
            <app-apartment-slider *ngFor="let apartment of apartments" [apartment]="apartment"></app-apartment-slider>
        </div>
    </div>
</section>

<app-footer></app-footer>
