.page-section-header {
    margin-bottom: 104px;
}

app-booking-form {
    position: static;
    transform: translate(0, 0);
    padding: 0;
    margin-bottom: 64px;
}

.aparts {

    > * {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }
}