<section class="page-section inner-page-section">
    <div class="container">
        <header class="page-section-header inner-page-section-header">
            <h2 class="section-title">
                <span data-aos="fade-up" data-aos-duration="600">Номера <br> Valo Hotel City</span>
                <div 
                    class="background-words" 
                    data-aos="custom fade-right-long" 
                    data-aos-easing="ease-out"
                    data-aos-duration="1000"
                >
                    apart– <br> ments
                </div>
            </h2>
            <div class="section-description" data-aos="fade-up" data-aos-duration="600">
                <p>
                    <strong>Философия и основная цель комплекса VALO</strong>
                    — обеспечить людей комфортом, уютом и качественным жильем.
                </p>
            </div>
        </header>        
    </div>

    <app-booking-form class="container" data-aos="custom fade-up" data-aos-duration="600"></app-booking-form>

    <div class="container">
        <div *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'" class="aparts">
            <app-apartment-slider *ngFor="let apartment of apartments" [apartment]="apartment"></app-apartment-slider>
        </div>

        <!-- mobile cards -->
        <div class="mobile-cards" *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
            <app-mobile-apartment-card 
                *ngFor="let apartment of apartments; index as i" 
                [content]="apartment"
                [pagination]="'pagination-' + i"
            ></app-mobile-apartment-card>
        </div>

    </div>

</section>

<app-footer></app-footer>
