<div class="inner-page">
    <div class="inner-page-first-screen" *ngIf="false">
        <section class="page-section inner-page-section">
            <div class="container">
                <header class="page-section-header inner-page-section-header">
                    <h1 class="section-title">
                        <span>Мероприятия</span>
                        <div class="background-words">
                            events
                        </div>
                    </h1>
                    <div class="section-description">
                        <p><strong>Ресторанный комплекс VALO HOTEL CITY.</strong> Лучшее место для праздничного торжества, корпоративной вечеринки или праздничного банкета! Можно организовать любые деловые мероприятия, провести переговоры, семинары и конференции.</p>
                    </div>
                </header>
            </div>
            <div class="inner-page-image">
                <img src="assets/images/pages/events/background-image.jpg" alt="events image">
                <div class="container">
                    <button type="button" class="scroll-alert">
                        <svg class="scroll-alert-icon" width="12px" height="18px">
                            <use xlink:href="assets/sprites/icons.svg#ico-mouse"></use>
                        </svg>
                        <span>Листайте вниз</span>
                    </button>
                </div>
            </div>
        </section>
    </div>

    <div class="inner-page-content">
        <div class="container inner-page-container">
            <div class="inner-page-content-left">
                <perfect-scrollbar class="scrollbar">
                    <header class="detail-page-header">
                        <h2 class="section-title">
                            <span>Мероприятия</span>
                            <div class="background-words">
                                events
                            </div>
                        </h2>
                        <div class="section-description">
                            <p>
                                <strong>Ресторанный комплекс VALO HOTEL CITY.</strong> Лучшее место для праздничного торжества, корпоративной вечеринки или праздничного банкета! Можно организовать любые деловые мероприятия, провести переговоры, семинары и конференции.
                            </p>
                        </div>
                    </header>

                    <!-- inner cards -->
                    <div class="inner-cards-wrapper">
                        <div class="inner-cards-item" *ngFor="let month of months | keyvalue ; index as i" [id]="'group-' + month.key">
                            <header class="inner-cards-header">
                                <h3>{{ getMonthName(month.key) }}</h3>
                                <div class="inner-category-designation">
                                    <div>—</div>
                                    <div class="letter">{{ i + 1 | number: '2.0-0' }}</div>
                                </div>
                            </header>

                            <div class="inner-cards" *ngIf="screen === 'lg' || screen === 'xl'">
                                <app-event-card *ngFor="let card of month.value" [card]="card"></app-event-card>
                            </div>

                            <!-- slider -->
                            <app-mobile-inner-slider [content]="month.value" *ngIf="screen !== 'lg' && screen !== 'xl'"></app-mobile-inner-slider>
                        </div>
                    </div>
                    
                </perfect-scrollbar>
            </div>
            <div class="inner-page-content-right">
                <perfect-scrollbar class="scrollbar">
                    <ul class="inner-menu-list">
                        <li class="inner-menu-list-item" *ngFor="let month of months | keyvalue">
                            <button
                                (click)="scrollToElement('#group-' + month.key)"
                                type="button"
                                class="inner-menu-list-button"
                            >
                              {{ getMonthName(month.key) }}
                            </button>
                        </li>
                    </ul>
                    <div class="content-right-text">
                        <p>
                            <strong>Ресторанный комплекс VALO HOTEL CITY.</strong> Лучшее место для праздничного торжества, корпоративной вечеринки или праздничного банкета! Можно организовать любые деловые мероприятия, провести переговоры, семинары и конференции.
                        </p>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>

        <!-- background block -->
        <div class="background-block">
            <img src="assets/images/pages/events/bitmap.jpg" alt="menu background image">
        </div>
    </div>
</div>

<app-footer *ngIf="screen !== 'lg' && screen !== 'xl'"></app-footer>