<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-image">
                <img [lazyLoad]="'assets/images/footer/footer-image.jpg'" [offset]="200" alt="footer image">
            </div>
            <div class="footer-info">
                <div 
                    class="background-words stroked"
                    data-aos="custom slide-right-long"
                    data-aos-easing="ease-out"
                    data-aos-duration="1000"
                >Valo Hotel City</div>
                <div class="footer-info-container">
                    <a [routerLink]="['/business']" class="footer-link">Готовые пространства <br> для бизнеса</a>
                    <a href="https://valoapart.ru/" target="_blank" class="footer-link">Доходные программы <br> для инвесторов</a>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <img [lazyLoad]="'assets/images/footer/logo.svg'" [offset]="200" alt="logo" class="footer-logo">
            <div class="footer-text">
                <p>Лучший комплекс апарт–отелей в Санкт–Петербурге</p>
            </div>
            <div class="footer-contacts">
                <a href="tel:78126920000" class="phone light">+7 (812) 692-00-00</a>
                <div class="footer-location"> ул. Салова, 61, Санкт-Петербург, 192102</div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-text company-name">
                2020 Valo Hotel City
            </div>
            <ul class="pay-methods">

                <ng-container *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
                    <li *ngFor="let icon of icons">
                        <svg [attr.width]="icon.size.desktop.width" [attr.height]="icon.size.desktop.height">
                            <use [attr.xlink:href]="icon.src"></use>
                        </svg>
                    </li>
                </ng-container>

                <ng-container *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
                    <li *ngFor="let icon of icons">
                        <svg [attr.width]="icon.size.mobile.width" [attr.height]="icon.size.mobile.height">
                            <use [attr.xlink:href]="icon.src"></use>
                        </svg>
                    </li>
                </ng-container>

            </ul>
            <a *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'" href="https://zomg.studio/" class="studio-logo" target="_blank">
                <img src="assets/images/footer/zomg_studio_white.svg" alt="zoom studio">
            </a>
            <div class="bot">
                <div class="footer-bottom-text">
                    2020 Valo Hotel City
                </div>
                <a href="https://zomg.studio/" class="studio-logo" target="_blank">
                    <img src="assets/images/footer/zomg_studio_white.svg" alt="zoom studio">
                </a>
            </div>
        </div>
    </div>
</footer>
