<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-image">
                <img src="assets/images/footer/footer-image.jpg" alt="footer image">
            </div>
            <div class="footer-info">
                <div class="background-words stroked">Valo Hotel City</div>
                <div class="footer-info-container">
                    <a [routerLink]="[]" class="footer-link">Готовые пространства <br> для бизнеса</a>
                    <a [routerLink]="[]" class="footer-link">Доходные программы <br> для инвесторов</a>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <img src="assets/images/footer/logo.svg" alt="logo" class="footer-logo">
            <div class="footer-text">
                <p>Лучший комплекс апарт–отелей в Санкт–Петербурге</p>
            </div>
            <div class="footer-contacts">
                <a href="tel:881702-76-73" class="phone light">8 (812) 702-76-73</a>
                <div class="footer-location"> ул. Салова, 61, Санкт-Петербург, 192102</div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-text company-name">
                2019 Valo Hotel City
            </div>
            <ul class="pay-methods">
                <li>
                    <svg style="width: 54.15px; height: 16.92px;">
                        <use xlink:href="assets/sprites/icons.svg#visa"></use>
                    </svg>
                </li>
                <li>
                    <svg style="width: 32px; height: 22px;">
                        <use xlink:href="assets/sprites/icons.svg#mastercard"></use>
                    </svg>
                </li>
                <li>
                    <svg style="width: 106.67px; height: 20.31px;">
                        <use xlink:href="assets/sprites/icons.svg#yandex"></use>
                    </svg>
                </li>
                <li>
                    <svg style="width: 60.06px; height: 17px;">
                        <use xlink:href="assets/sprites/icons.svg#mir"></use>
                    </svg>
                </li>
            </ul>
            <div class="footer-bottom-text manufacturer-site-name">
                Digitech
            </div>
        </div>
    </div>
</footer>