@import "theme";
@import "responsive";

:host {
    margin-top: auto;
}

.footer {
    padding: 96px 0 64px;
    background-color: $text-color;

    @include media-breakpoint-only($lg) {
        padding: 48px 0 48px;
    }

    @include media-breakpoint-only($md) {
        padding: 24px 0 0;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;

    @include media-breakpoint-only($xl) {
        flex-direction: column;
    }

    @include media-breakpoint-only($lg) {
        margin-bottom: 41px;
    }
}

.footer-image {
    padding-bottom: 32.555%;
    position: relative;
    width: 632px;
    flex-shrink: 0;
    z-index: 1;

    @include media-breakpoint-only($xl) {
        width: 100%;
    }

    @include media-breakpoint-only($lg) {
        padding-bottom: 49%;
    }

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
    }
}

.footer-info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    align-items: flex-end;

    @include media-breakpoint-only($xl) {
        order: -1;
        width: 100%;
        margin-bottom: 48px;
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 32px;
    }
}

.background-words {
    left: -54px;
    top: -21px;
    max-width: 372px;

    @include media-breakpoint-only($xl) {
        font-size: 104px;
        left: -16px;
        top: -16px;
    }

    @include media-breakpoint-only($md) {
        font-size: 88px;
        line-height: 0.91;
        letter-spacing: 11px;
        top: -6px;
    }
}

.footer-info-container {
    position: relative;
    z-index: 1;
    width: 327px;
    margin-right: 17px;

    @include media-breakpoint-only($xl) {
        width: 100%;
        display: flex;
        margin-right: 0;
        align-items: center;

        > * {
            &:not(:last-child) {
                margin-right: 76px;
            }
        }
    }

    @include media-breakpoint-only($md) {
        flex-direction: column;
        align-items: flex-start;

        > * {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 24px;
            }
        }
    }
}

.footer-link {
    color: $light-color;
    transition: opacity .2s ease;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 800;
    display: block;

    &:hover {
        opacity: 0.6;
    }

    &:not(:last-child) {
        margin-bottom: 96px;
    }

    @include media-breakpoint-only($xl) {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-only($lg) {
        font-size: 17px;
        line-height: 1.59;
    }

    @include media-breakpoint-only($md) {
        font-size: 13px;
        line-height: 1.69;
    }
}

.footer-middle {
    display: flex;
    align-items: flex-start;
    color: $light-color;
    margin-bottom: 68px;

    @include media-breakpoint-only($lg) {
        align-items: center;
        margin-bottom: 48px;
    }

    @include media-breakpoint-only($md) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 33px;

        > * {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
}

.footer-logo {
    width: 62px;
    margin-right: 226px;

    @include media-breakpoint-only($lg) {
        margin-right: 34px;
    }
}

.footer-text {
    max-width: 237px;
    font-size: 14px;
    line-height: 1.86;

    @include media-breakpoint-only($lg) {
        font-size: 13px;
        line-height: 1.69;
    }
}

.footer-contacts {
    margin-left: auto;
    font-size: 14px;
    line-height: 1.86;
    text-align: right;

    @include media-breakpoint-only($lg) {
        font-size: 13px;
        line-height: 1.69;
    }

    @include media-breakpoint-only($md) {
        margin-left: 0;
        text-align: left;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;

    @include media-breakpoint-only($md) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.pay-methods {
    display: flex;
    align-items: center;

    li {
        opacity: 0.6;

        &:not(:last-child) {
            margin-right: 41px;

            @include media-breakpoint-only($md) {
                margin-right: 25px;
            }
        }
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 33px;
    }
}

.footer-bottom-text {
    font-size: 11px;
    color: $light-color;
    line-height: 2.2;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 700;
}

.company-name {
    margin-right: 116px;

    @include media-breakpoint-only($lg) {
        margin-right: 58px;
    }

    @include media-breakpoint-only($md) {
        display: none;
    }
}

.studio-logo {
    display: block;
    width: 117px;
    height: 36px;
    margin-left: auto;
}

.bot {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid rgba($light-color, 0.07);
    margin-left: -15px;
    width: 100vw;

    @include media-breakpoint-only($md) {
        display: flex;
    }
}