<div class="container" [class.flexible]="isFeaturesVisible">

    <!-- apartment-content -->
    <div class="apartment-content">
        <perfect-scrollbar class="scrollbar">
            <h1 class="apartment-title">{{ apartment.name }}</h1>

            <!-- infoblocks -->
            <div class="infoblocks" *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
                <div class="infoblock" *ngFor="let advantage of apartment.advantages">
                    <img [src]="advantage.iconUrl" class="infoblock-icon"/>
                    <span>{{ advantage.name }}</span>
                </div>
            </div>

            <!-- infoblocks slider -->
            <div class="infoblocks-slider" *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
                <div class="swiper-container" [swiper]="infoblocks">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let advantage of apartment.advantages">
                            <div class="infoblock">
                                <img [src]="advantage.iconUrl" class="infoblock-icon"/>
                                <span>{{ advantage.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="apartment-text" [innerHtml]="apartment.description | paragraphs">
            </div>
            <ul class="apartment-characteristic">
                <li>
                    <p>Размер номера</p>
                    <p>{{ apartment.area }} м²</p>
                </li>
                <li>
                    <p>Количество гостей</p>
                    <p>{{ apartment.guestsCount }}</p>
                </li>
            </ul>
            <div class="apartment-controls" *ngIf="screen === 'lg' || screen === 'xl'">
                <button type="button" class="button secondary">Забронировать</button>
                <a [routerLink]="[]" class="next-room">
                    <span>Следующий номер</span>
                    <svg width="22px" height="7px">
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </perfect-scrollbar>
    </div>

    <!-- features -->
    <div
        class="features"
        *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'"
        [ngClass]="{'photos-on': !isFeaturesVisible, 'features-on': isFeaturesVisible}"
    >
        <div class="features-wrapper">

            <!-- features scrollbar -->
            <perfect-scrollbar class="scrollbar">
                <header class="features-header">
                    <h3 *ngIf="isFeaturesVisible">Особенности и удобства</h3>
                    <button
                        (click)="isFeaturesVisible = !isFeaturesVisible"
                        type="button"
                        class="button light"
                    >
                        {{ isFeaturesVisible ? 'Фотографии' : 'Особенности' }}
                    </button>
                </header>

                <!-- features items -->
                <div *ngIf="isFeaturesVisible" class="features-items">
                    <div class="features-item" *ngFor="let feature of apartment.features">
                        <header class="features-item-header">
                          <div class="features-item-icon" [innerHtml]="sanitizer.bypassSecurityTrustHtml(feature.iconData)"></div>
                            <h6 class="features-item-title">{{ feature.name }}</h6>
                        </header>
                        <div class="features-item-text" [innerHTML]="feature.description"></div>
                    </div>
                </div>
            </perfect-scrollbar>

            <!-- tablet slider -->
            <div
                class="swiper-container tablet-slider"
                [class.display-none]="isFeaturesVisible"
                [(index)]="tabletIndex"
                [swiper]="config"
                #tableSlider
            >
                <button
                    (click)="isFeaturesVisible = !isFeaturesVisible"
                    type="button"
                    class="button light tablet-slider-button"
                >
                    {{ isFeaturesVisible ? 'Фотографии' : 'Особенности' }}
                </button>

                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let image of apartment.imagesXl; index as i">
                      <app-responsive-image [xl]="apartment.imagesXl[i]" [lg]="apartment.imagesLg[i]" [md]="apartment.imagesMd[i]" [sm]="apartment.imagesSm[i]"></app-responsive-image>
                    </div>
                </div>
            </div>

            <div *ngIf="screen !== 'lg' && screen !== 'xl'"  class="slider-controls" [class.display-none]="isFeaturesVisible">
                <div class="slider-index">{{ tabletIndex + 1 }}/{{ apartment.imagesXl.length }}</div>
                <button type="button" class="control-button" (click)="tableSlider.swiper.slidePrev()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="control-button" (click)="tableSlider.swiper.slideNext()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>

            <div *ngIf="screen === 'lg' || screen === 'xl'"  class="slider-controls" [class.display-none]="isFeaturesVisible">
                <div class="slider-index">{{ featureIndex + 1 }}/{{ apartment.imagesXl.length }}</div>
                <button type="button" class="control-button" (click)="imagesSlider.swiper.slidePrev()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="control-button" (click)="imagesSlider.swiper.slideNext()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>

        </div>

        <div *ngIf="screen !== 'lg' && screen !== 'xl'"  class="apartment-controls bottom-controls" [class.bordered]="isFeaturesVisible">
            <button type="button" class="button secondary">Забронировать</button>
            <a [routerLink]="[]" class="next-room">
                <span>Следующий номер</span>
                <svg width="22px" height="7px">
                    <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>

</div>

<!-- booking section -->
<div
    style="background-image: url(assets/images/apartments/apartment-1.jpg)"
    class="booking-section"
    *ngIf="!isBooked && screen !== 'md' && screen !== 'lg' && screen !== 'xl'"
>
    <button class="button secondary" (click)="isBooked = true">Забронировать</button>
</div>

<!-- mobile features -->
<div class="mobile-features" *ngIf="isBooked && screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
    <div class="mobile-features-slider">
        <div class="swiper-container" [swiper]="mobileFeatures">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let image of apartment.detailImagesXl; index as i">
                  <app-responsive-image [xl]="apartment.detailImagesXl[i]" [lg]="apartment.detailImagesLg[i]" [md]="apartment.detailImagesMd[i]" [sm]="apartment.detailImagesSm[i]"></app-responsive-image>
                </div>
            </div>
        </div>
        <div class="slider-info card-pagination mobile-features-pagination"></div>
    </div>
    <div class="mobile-features-content">
        <header class="features-header">
            <h3>Особенности и удобства</h3>
        </header>

        <!-- features items -->
        <div class="features-items">
            <div class="features-item" *ngFor="let feature of apartment.features">
                <header class="features-item-header">
                    <div class="features-item-icon" [innerHtml]="sanitizer.bypassSecurityTrustHtml(feature.iconData)"></div>
                    <h6 class="features-item-title">{{ feature.name }}</h6>
                </header>
                <div class="features-item-text" [innerHTML]="feature.description"></div>
            </div>
        </div>

        <button class="button secondary book-button">Забронировать</button>
    </div>
</div>

<div
    class="background-block"
    [class.features-block]="isFeaturesVisible"
>
    <!-- slider -->
    <div
        class="swiper-container"
        [class.display-none]="isFeaturesVisible"
        [(index)]="featureIndex"
        [swiper]="config"
        #imagesSlider
    >
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let image of apartment.detailImagesXl; index as i">
              <app-responsive-image [xl]="apartment.detailImagesXl[i]" [lg]="apartment.detailImagesLg[i]" [md]="apartment.detailImagesMd[i]" [sm]="apartment.detailImagesSm[i]"></app-responsive-image>
            </div>
        </div>
    </div>
</div>
