<section class="page-section">
    <div class="container">
        <div class="location-content">
            <header class="page-section-header">
                <div class="section-name">
                    <div class="section-name-line"></div>
                    <h6>Местонахождение</h6>
                </div>
                <h2 class="section-title">
                    <span>Интересные места рядом с Valo Hotel City</span>
                    <div class="background-words">
                        loc- <br> ation
                    </div>
                </h2>
                <div class="location-buttons">
                    <button class="button dark" type="button">Маршрут в Яндекс.Карте</button>
                </div>
                <div class="location-text">
                    <p>
                        Комплекс находится напротив станции метро «Бухарестская» — в новом деловом районе с развитой торгово–развлекательной инфраструктурой. 
                    </p>
                </div>
            </header>
            <div class="location-map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acbbe1501378e56f4030b7e0bed8451d544c6bf72fbe8fbda02884f4485cf66bf&amp;source=constructor"></iframe>
            </div>
        </div>
    </div>
</section>