@import "responsive";

.page-section {
    @include media-breakpoint-only($md) {
        padding-bottom: 24px;
    }
}

.location-content {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-only($xl) {
        flex-direction: column;
    }
}

.page-section-header {
    flex-direction: column;
    margin-bottom: 0;

    @include media-breakpoint-only($xl) {
        flex-direction: row;
        margin-bottom: 48px;
    }

    @include media-breakpoint-only($xl) {
        margin-bottom: 32px;
    }
}

.section-name {
    margin-bottom: 48px;
}

.section-title {
    margin: 0 0 176px;

    @include media-breakpoint-only($xl) {
        margin-bottom: 34px;
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 24px;
    }
}

.location-buttons {
    margin-bottom: 112px;

    @include media-breakpoint-only($xl) {
        margin-bottom: 0;
    }

    @include media-breakpoint-only($md) {
        width: 100%;

        .button {
            width: 100%;
        }
    }

    &.mobile {
        display: none;

        @include media-breakpoint-only($md) {
            display: block;
        }
    }

    &.desktop {
        display: block;

        @include media-breakpoint-only($md) {
            display: none;
        }
    }
}

.background-words {
    left: 0;

    @include media-breakpoint-only($md) {
        br {
            display: none;
        }
    }
}

.location-map {
    margin-left: 22px;
    width: 632px;

    ::ng-deep .container {
        padding: 0;
        margin: 0;
    }

    @include media-breakpoint-only($xl) {
        height: 560px;
        width: 100%;
        margin-left: 0;
    }

    @include media-breakpoint-only($md) {
        height: 400px;
    }
}

.location-text {
    max-width: 362px;

    @include media-breakpoint-only($md) {
        max-width: 100%;
        margin-bottom: 24px;
    }
}