@import "responsive";

.location-content {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-only($xl) {
        flex-direction: column;
    }
}

.page-section-header {
    flex-direction: column;
    margin-bottom: 0;

    @include media-breakpoint-only($xl) {
        flex-direction: row;
        margin-bottom: 48px;
    }
}

.section-name {
    margin-bottom: 48px;
}

.section-title {
    margin: 0 0 176px;

    @include media-breakpoint-only($xl) {
        margin-bottom: 34px;
    }
}

.location-buttons {
    margin-bottom: 112px;

    @include media-breakpoint-only($xl) {
        margin-bottom: 0;
    }
}

.background-words {
    left: 0;
}

.location-map {
    margin-left: 22px;
    width: 632px;

    ::ng-deep .container {
        padding: 0;
        margin: 0;
    }

    @include media-breakpoint-only($xl) {
        height: 560px;
        width: 100%;
        margin-left: 0;
    }
}

.location-text {
    max-width: 362px;
}