<section class="page-section">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Особенности</h6>
            </div>
            <h2 class="section-title">
                <span>Почему апартаменты VALO лучше, чем квартира?</span>
                <div class="background-words">
                        apart–<br>ments
                </div>
            </h2>
            <div class="section-description">
                <p>
                    Стоимость коммунальных услуг <strong>119 ₽ за м² в месяц,</strong> все остальное — по приборам учета.
                </p>
            </div>
        </header>
        <div class="content-block">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Valo hotel city</h6>
            </div>
            <div class="image-block">
                <img [lazyLoad]="'assets/images/pages/rent/features/features-img.jpg'" [offset]="200" alt="features image">
            </div>
        </div>

        <!-- infoblocks slider -->
        <div class="infoblocks-slider" *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="infoblock">
                            <h4 class="infoblock-title">Высокая транспортная <br> доступность</h4>
                            <div class="infoblock-text">
                                <p>Метро «Бухарестская» – прямо через дорогу! 20 минут до исторического центра города – Дворцовой площади и Эрмитажа</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h4 class="infoblock-title">Сервис и услуги <br> Valo Hotel City</h4>
                        <div class="infoblock-text">
                            <p>Управляющая компания VALO Service обслуживает апартамены, ремонтирует технику, электрику и сантехнику. Помогает круглосуточно 24 на 7.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- infoblocks -->
        <div class="infoblocks" *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
            <div class="infoblock">
                <h4 class="infoblock-title">Высокая транспортная <br> доступность</h4>
                <div class="infoblock-text">
                    <p>Метро «Бухарестская» – прямо через дорогу! 20 минут до исторического центра города – Дворцовой площади и Эрмитажа</p>
                </div>
            </div>
            <div class="infoblock">
                <h4 class="infoblock-title">Сервис и услуги <br> Valo Hotel City</h4>
                <div class="infoblock-text">
                    <p>Управляющая компания VALO Service обслуживает апартамены, ремонтирует технику, электрику и сантехнику. Помогает круглосуточно 24 на 7.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="slider-info features-pagination"></div>

    <footer class="features-footer" *ngIf="screen == 'md'">
        <button
            type="button"
            class="button secondary"
            (click)="modal.open('apartment-view-request')"
        >Записаться на просмотр</button>
        <span class="next-room" (click)="scrollToApartments()">Цены на аренду</span>
    </footer>
</section>
