<section 
    class="page-section"
    data-aos="custom delete-paddings"
    data-aos-anchor="app-events"
    data-aos-duration="650"
>
    <div 
        class="container"
        data-aos="custom expand-container"
        data-aos-anchor="app-events"
        data-aos-duration="650"
    >
        <div 
            class="banner-block" 
            data-aos="custom add-paddings"
            data-aos-anchor="app-events"
            data-aos-duration="650"
            style="background-image: url(assets/images/banner/facade.jpg)"
        >
            <h2 
                class="banner-title light"
            >
                <span 
                    class="first-word"
                    data-aos="custom narrow-down-text"
                    data-aos-anchor="app-events"
                    data-aos-duration="650"
                >Valo</span>
                <span
                    data-aos="custom narrow-down-text"
                    data-aos-anchor="app-events"
                    data-aos-duration="650"
                >Hotel</span> 
                <span 
                    class="last-word"
                    data-aos="custom narrow-down-text"
                    data-aos-anchor="app-events"
                    data-aos-duration="650"
                >City</span>
            </h2>
        </div>
    </div>
</section>