<section class="page-section">
    <img
        *ngIf="screen === 'lg' || screen === 'xl'"
        [lazyLoad]="'assets/images/advantages/advantages-img.jpg'"
        [offset]="200"
        alt="advantages image"
        class="advantages-background"
    >
    <img
        *ngIf="screen !== 'lg' && screen !== 'xl'"
        [lazyLoad]="'assets/images/advantages/mobile-advantages.png'"
        [offset]="200"
        alt="advantages image"
        class="advantages-background"
    >
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Преимущества</h6>
            </div>
            <h2 class="section-title">
                <span>Лучший комплекс апартаментов комфорт-класса Санкт-Петербурга</span>
            </h2>
            <div class="rating section-description" *ngIf="bookingComData">
                <div class="rating-top">
                    <div class="rating-assessment">{{ bookingComData.rating }}</div>
                    <div class="rating-booking">
                        <img [lazyLoad]="'assets/images/advantages/booking.svg'" [offset]="200" alt="booking image">
                    </div>
                </div>
                <div class="rating-info">
                    <h6>Рейтинг Booking</h6>
                    <div class="rating-testimonials">
                      {{ bookingComData.reviewsCount }} {{ getNoun(bookingComData.reviewsCount, 'отзыв', 'отзыва', 'отзывов') }}
                       пользователей</div>
                </div>
            </div>
        </header>
        <div class="slider">
            <div class="swiper-container" [swiper]="config" #iconsSlider>
                <div class="swiper-wrapper">

                    <!-- desktop sizes -->
                    <ng-container *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
                        <div class="swiper-slide" *ngFor="let icon of icons">
                            <div class="icon-item">
                                <svg [attr.width]="icon.size.desktop.width" [attr.height]="icon.size.desktop.height">
                                    <use [attr.xlink:href]="icon.src"></use>
                                </svg>
                            </div>
                            <h5 class="icon-title">{{ icon.title }}</h5>
                        </div>
                    </ng-container>

                    <!-- mobile sizes -->
                    <ng-container *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
                        <div class="swiper-slide" *ngFor="let icon of icons">
                            <div class="icon-item">
                                <svg [attr.width]="icon.size.mobile.width" [attr.height]="icon.size.mobile.height">
                                    <use [attr.xlink:href]="icon.src"></use>
                                </svg>
                            </div>
                            <h5 class="icon-title">{{ icon.title }}</h5>
                        </div>
                    </ng-container>

                </div>
            </div>
            <div class="control-buttons">
                <button type="button" class="control-button gray" (click)="iconsSlider.swiper.slidePrev()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="control-button gray" (click)="iconsSlider.swiper.slideNext()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>

        </div>
    </div>

    <div class="slider-info advantages-pagination"></div>
</section>
