@import "theme";
@import "responsive";

:host {
    overflow: hidden;
}

.page-section {
    padding-top: 86px;
    position: relative;

    @include media-breakpoint-only($xl) {
        padding-top: 48px;
        padding-bottom: 74px;
    }

    @include media-breakpoint-only($md) {
        padding-top: 24px;
        padding-bottom: 0;
    } 
}

.page-section-header {
    @include media-breakpoint-only($lg) {
        margin-bottom: 80px;
    }

    @include media-breakpoint-only($md) {
        margin-bottom: 32px;
    } 
}

.advantages-background {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    z-index: -1;

    @include media-breakpoint-only($lg) {
        top: 22px;
    }

    @include media-breakpoint-only($md) {
        top: 75px;
    }
}

.rating {
    border: 1px solid $border-color;
    padding: 32px;

    @include media-breakpoint-only($lg) {
        padding: 24px;
    }

    @include media-breakpoint-only($md) {
        padding: 16px 16px 24px;
    }
}

.rating-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    @include media-breakpoint-only($lg) {
        margin-bottom: 14px;
    }
}

.rating-assessment {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #168225;

    @include media-breakpoint-only($md) {
        font-size: 24px;
        line-height: 1.58;
    }
}

.rating-testimonials {
    font-size: 14px;
    line-height: 1.714;
    color: $dark-gray;

    @include media-breakpoint-only($md) {
        font-size: 13px;
        line-height: 1.69;
    }
}

// slider

.slider {
    align-items: center;

    @include media-breakpoint-only($lg) {
        .control-buttons {
            top: -22px;
        }

        .swiper-container {
            margin-right: 70px;
        }
    }

    @include media-breakpoint-only($md) {
        .swiper-container {
            margin-right: 0;
        }
    }
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: initial !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up($lg) {
        &:hover {
            .icon-title {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.icon-item {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;

    @include media-breakpoint-only($md) {
        margin-bottom: 7px;
        height: 31px;
    }

    svg {
        fill: $gray;
    }
}

.icon-title {
    font-size: 13px;
    line-height: 1.69;
    color: $dark-gray;
    font-weight: 400;
    transition: opacity .25s ease, visibility .25s ease;

    @include media-breakpoint-up($lg) {
        opacity: 0;
        visibility: 0;
    }
}

.section-title {
    @include media-breakpoint-only($md) {
        margin-bottom: 0;
    }
}