@import "theme";
@import "responsive";

:host {
    overflow: hidden;
}

.page-section {
    padding-top: 86px;
    position: relative;

    @include media-breakpoint-only($xl) {
        padding-top: 48px;
        padding-bottom: 74px;
    }
}

.page-section-header {
    @include media-breakpoint-only($lg) {
        margin-bottom: 80px;
    }
}

.advantages-background {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    z-index: -1;

    @include media-breakpoint-only($lg) {
        top: 22px;
    }
}

.rating {
    border: 1px solid $border-color;
    padding: 32px;

    @include media-breakpoint-only($lg) {
        padding: 24px;
    }
}

.rating-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    @include media-breakpoint-only($lg) {
        margin-bottom: 14px;
    }
}

.rating-assessment {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #168225;
}

.rating-testimonials {
    font-size: 14px;
    line-height: 1.714;
    color: $dark-gray;
}

// slider

.slider {
    align-items: center;

    @include media-breakpoint-only($lg) {
        .control-buttons {
            top: -22px;
        }
    }
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: 60px;
}

.icon-item {
    fill: $gray;
}