<section class="page-section">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>События <br> и мероприятия</h6>
            </div>
            <h2 class="section-title">
                <span>Идеальное место <br> для проведения <br> мероприятий</span>
                <div 
                    class="background-words" 
                    data-aos="custom fade-right-long" 
                    data-aos-easing="ease-out"
                    data-aos-duration="1000"
                >
                    events <br> —show
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Ресторанный комплекс VALO HOTEL CITY.</strong> Лучшее место для праздничного торжества, корпоративной вечеринки или праздничного банкета! Можно организовать любые деловые мероприятия, провести переговоры, семинары и конференции.
                </p>
            </div>
        </header>
        <div class="slider">
            <div class="swiper-container" [swiper]="config" #sliderContainer>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let card of cards">
                        <app-event-card [card]="card"></app-event-card>
                    </div>
                </div>
            </div>
            <div class="control-buttons">
                <button type="button" class="control-button gray" (click)="sliderContainer.swiper.slidePrev()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="control-button gray" (click)="sliderContainer.swiper.slideNext()">
                    <svg>
                        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="slider-info events-pagination"></div>
        <a [routerLink]="['events']" class="button gray long-button">Все мероприятия</a>
    </div>
</section>
