<div class="menu">
    <img src="assets/images/menu/bitmap.jpg" class="menu-img" alt="bitmap">
    <perfect-scrollbar class="scrollbar" style="max-height: 100%">
        <nav class="menu-navigation">
            <ul class="menu-list">
                <li class="menu-list-item" routerLinkActive="active" *ngFor="let link of links">
                    <a [routerLink]="[link.url]" class="menu-list-link">{{ link.text }}</a>
                </li>
            </ul>
        </nav>
    </perfect-scrollbar>
</div>