<div class="business">
    <div class="business-container">
        <div class="business-content">
            <div class="business-content-left">
                <div class="apartmet-info">
                    <p>{{ business.area }} м<sup>2</sup></p>
                    <p>{{ business.rooms }}</p>
                </div>
                <div class="business-main">
                    <h2 class="light business-title">{{ business.title }}</h2>
                    <div class="business-description">
                        <p>{{ business.description }}</p>
                    </div>
                    <div class="business-buttons">
                        <button type="button" class="button light">Оставить заявку</button>
                        <div class="price">
                            <p>Стоимость/сутки</p>
                            <strong>{{ business.price | currency:'':'':'4.0' }} ₽</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="business-content-right">
                <div class="business-slider">
                    <div class="swiper-container" [swiper]="config" #businessSlider>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of business.images">
                                <img [src]="image" alt="business image">
                            </div>
                        </div>
                    </div>
                    <div class="control-buttons">
                        <button type="button" class="control-button gray" (click)="businessSlider.swiper.slidePrev()">
                            <svg>
                                <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                            </svg>
                        </button>
                        <button type="button" class="control-button gray" (click)="businessSlider.swiper.slideNext()">
                            <svg>
                                <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>