<div class="business">
    <div class="business-container">
        <div class="business-content">
            <div class="business-content-left">
                <div class="business-info">
                    <p>{{ space.area }} м<sup>2</sup></p>
                </div>
                <div class="business-main">
                    <h2 class="light business-title">{{ space.name }}</h2>
                    <perfect-scrollbar class="scrollbar light-scrollbar">
                        <div class="business-description" [innerHTML]="space.description | paragraphs"></div>
                    </perfect-scrollbar>
                    <div class="business-buttons">
                        <button
                            type="button"
                            (click)="modal.open('business-space-request', {id: space.id})"
                            class="button"
                        >Отправить заявку
                        </button>
                        <div class="price">
                            <p class="price-per-month">Стоимость</p>
                            <strong>{{ space.cost }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="business-content-right">
                <div class="business-slider">
                    <div class="business-background-block"></div>
                    <div class="swiper-container" [(index)]="index" [swiper]="config" #businessSlider>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of space.imagesXl; index as i">
                              <app-responsive-image [lazyLoad]="false" [xl]="space.imagesXl[i]" [lg]="space.imagesLg[i]" [md]="space.imagesMd[i]" [xs]="space.imagesSm[i]" [sm]="space.imagesSm[i]"></app-responsive-image>
                            </div>
                        </div>
                    </div>
                    <div class="slider-controls" *ngIf="space.imagesXl.length > 1">
                        <div class="slider-index">{{ index + 1 }}/{{ space.imagesXl.length }}</div>
                        <button type="button" class="control-button" (click)="businessSlider.swiper.slidePrev()">
                            <svg>
                                <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                            </svg>
                        </button>
                        <button type="button" class="control-button" (click)="businessSlider.swiper.slideNext()">
                            <svg>
                                <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
