.fadeUp {
    animation-name: fadeUp;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(75px);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideLeft {
    animation-name: slideLeft;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slideRight {
    animation-name: slideRight;
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slideLeftFade {
    animation-name: slideLeftFade;
}

@keyframes slideLeftFade {
    0% {
        transform: translateX(-100%);
        visibility: hidden;
    }

    99% {
        visibility: hidden;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.fromLeftToRight {
    animation-name: fromLeftToRight;
}

@keyframes fromLeftToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.expandCollapseWidth {
    animation-name: expandCollapseWidth;
}

@keyframes expandCollapseWidth {
    0% {
        width: 50%;
    }

    100% {
        width: 0;
    }
}

.show {
    animation-name: show;
}

@keyframes show {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
}