$text-color: #11121C;
$light-color: #ffffff;
$important-color: #F14F4D;
$dark-gray: #515364;
$aqua: #03AEB5;
$gray: #9E9EB0;
$light-gray: #F3F3FB;
$border-color: #E4E4E4;
$dark: #100D30;
$raven: #5A5C76;
$title-color: #F1F1F9;
$shark: #19191D;
$error-color: #C71B1B;
$black-color: #000000;