@import "theme";
@import "responsive";

.container {
    padding: 0 15px;
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;
}

// style classes
.secondary-color {
    color: $secondary-color;
}

// buttons
.button {
    background-color: $primary-color;
    border-radius: 3px;
    border: 0;
    text-align: center;
    padding: 11px 25px;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 2.2;
    color: $light-color;
    font: 700 11px/2.2 'Montserrat';
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color .2s ease;
    box-sizing: border-box;
    border: 1px solid transparent;

    &:disabled {
        opacity: 0.1;
        cursor: default;
    }

    &.long-button {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &:hover:enabled, &:hover {
        background-color: lighten($primary-color, 6.8%);
    }

    &:active:enabled, &:active {
        background-color: darken($primary-color, 7%);
    }

    &.dark {
        background-color: $text-color;

        &:hover:enabled, &:hover {
            background-color: lighten($primary-color, 6.8%);
        }
    
        &:active:enabled, &:active {
            background-color: darken($primary-color, 7%);
        }
    }

    &.secondary {
        background-color: $secondary-color;

        &:hover:enabled, &:hover {
            background-color: darken($secondary-color, 5%);
        }
    
        &:active:enabled, &:active {
            background-color: darken($secondary-color, 15%);
        }
    }

    &.light, &.gray {
        color: $text-color;

        &:hover:enabled, &:hover {
            background-color: darken($light-gray, 4.6%);
        }
    
        &:active:enabled, &:active {
            background-color: darken($light-gray, 12%);
        }
    }

    &.light {
        background-color: $light-color;
        border-color: $border-color;
    }

    &.gray {
        background-color: $light-gray;
    }
}

.arrow-control {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: $light-gray;
    transition: background-color .2s ease;
    border: 0;
    padding: 0;
    cursor: pointer;

    &:hover:enabled {
        background-color: darken($light-gray, 4.6%);
    }

    &:active:enabled {
        background-color: darken($light-gray, 12%);
    }
}

// slider
.slider {
    display: flex;
    align-items: flex-start;

    > * {
        &:not(:last-child) {
            margin-right: 72px;
        }
    }
}

.slider-controls {
    display: flex;
    background-color: $light-color;
    border-radius: 3px;

    .control-button, .slider-index {
        background-color: transparent;
        border-radius: 0;
    }

    .control-button {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    > * {
        &:not(:last-child) {
            border-right: 1px solid #eaeaea;
        }
    }
    
}

.slider-index {
    background-color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3.75px;
    font-weight: 700;
    width: 78px;
    height: 48px;
}

.control-button {
    cursor: pointer;
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: $light-color;
    border: 0;

    &.gray {
        background-color: $light-gray;
    }

    &:hover:enabled {
        background-color: darken($light-gray, 4.6%);
    }

    &:active:enabled {
        background-color: darken($light-gray, 12%);
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    svg {
        width: 22px;
        height: 7px;
    }
}

// start Socials
.socials {
    display: flex;
    flex-direction: column;

    a {
        display: flex;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        transition: background-color .2s ease;

        &:hover {
            svg {
                fill: $light-color;
            }
        }
    }

    svg {
        width: 20px;
        fill: $gray;
    }
}

.vk {
    &:hover {
        background-color: #4A76A8 !important;
    }
}

.instagram {
    &:hover {
        background-color: #B9189E !important;
    }
}

.youtube {
    &:hover {
        background-color: #FF1402 !important;
    }
}
// end Socials


// start Phone
.phone {
    font-size: 14px;
    line-height: 1.86;
    text-decoration: none;
    color: $shark;
    display: inline-block;

    &.light {
        color: $light-color;
    }
}
// end Phone

// общие стили для секций
.page-section {
    padding: 96px 0;

    @include media-breakpoint-only($xxl) {
        padding: 48px 0;
    }
}

.inner-page-section {
    padding-top: 48px;
}

.inner-page-section-header {
    .section-title {
        margin: 0;
    }

    .background-words {
        top: -24px;
        left: 0;
    }
}

.section-description {
    max-width: 344px;
    width: 100%;
}

.section-title {
    position: relative;
    margin-right: 96px;
    max-width: 384px;
    width: 100%;
    margin-left: auto;

    @include media-breakpoint-only($xxl) {
        margin-left: 0;
    }

    span {
        position: relative;
        z-index: 1;
    }
}

.background-words {
    position: absolute;
    left: -96px;
    top: -32px;
    font-weight: 800;
    font-size: 104px;
    line-height: 0.85;
    color: $title-color;
    letter-spacing: 10px;
    z-index: 0;
    user-select: none;

    @include media-breakpoint-only($xxl) {
        left: 0;
        top: -16px;
        font-size: 72px;
        letter-spacing: 8px;
        line-height: 0.89;
    }

    &.stroked {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #fff;
        color: $text-color;
        opacity: 0.15;
    }
}

.section-name {
    @include media-breakpoint-only($xxl) {
        display: none;
    }
}

.section-name-line {
    margin: 15px 0;
    width: 12px;
    height: 2px;
    background-color: $text-color;
}

.page-section-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 88px;

    @include media-breakpoint-only($xxl) {
        margin-bottom: 40px;
    }
}

// Общие стили для страниц услуг, мероприятий, доков
.inner-page {
    height: calc(100vh - 80px); // минус высота шапки

    .page-section-header {
        margin-bottom: 48px;
    }

    .section-description {
        font-size: 14px;
        line-height: 1.79;
    }

    .inner-page-image {
        width: 100%;
        position: relative;
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 0px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.inner-page,
.inner-page-content,
.inner-page-container {
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

.inner-page-first-screen {
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    .page-section {
        height: 100%;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
}

.scroll-alert {
    padding: 9px 14px 9px 16px;
    background-color: $light-color;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: 0;

    > * {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    span {
        line-height: 1.2;
    }
}

.scroll-alert-icon {
    fill: $black-color;
}

// inner cards
.inner-page-content {
    position: relative;
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;

    .background-block {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 0;
        width: 38.438%;

        @media (max-width: 1100px) {
            width: 45%;
        }

        @media (min-width: 1600px) {
            width: 41%;
        }

        @media (min-width: 1800px) {
            width: 43%;
        }

        @media (min-width: 2500px) {
            width: 44%;
        }

        @media (min-width: 2900px) {
            width: 45%;
        }

        @media (min-width: 3300px) {
            width: 46%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .section-title {
        margin: 48px 0 48px 0;
    }

    .background-words {
        left: 0;
        top: -24px;
    }
}

.inner-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
        height: 100%;
    }
}

.inner-page-content-left {
    flex: 1;
    max-width: 684px;
    margin-right: 16px;

    .scrollbar {
        padding: 0 44px 0 0;

        .ps__rail-y {
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }
}

.inner-cards-wrapper {
    > * {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }
}

.inner-cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    > * {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.inner-category-designation {
    font-size: 11px;
    line-height: 2.2;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

    .letter {
        margin-left: 2px;
    }
}

.inner-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 64px 56px;
    margin-bottom: 48px;
}

.inner-page-content-right {
    padding: 57px 0 48px 33px; // левый паддинг - отступ 31px для скроллбара
    position: relative;
    z-index: 1;
    flex: 1;
    max-width: 408px;
    margin-right: -31px;

    @include media-breakpoint-only($xxl) {
        margin-right: 0;
    }

    .scrollbar {
        padding-right: 31px;
    }

    .ps-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.inner-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 48px;

    > * {
        &:not(:last-child) {
            margin-bottom: 46px;
        }
    }
}

.inner-menu-list-button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    text-decoration: underline;
    cursor: pointer;
    transition: color .2s ease;

    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

// Общие стили для страниц услуг, мероприятий, доков
.inner-page {
    height: calc(100vh - 80px); // минус высота шапки

    .page-section-header {
        margin-bottom: 48px;
    }

    .section-description {
        font-size: 14px;
        line-height: 1.79;
    }

    .inner-page-image {
        width: 100%;
        position: relative;
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 0px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.inner-page,
.inner-page-content,
.inner-page-container {
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

.inner-page-first-screen {
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    .page-section {
        height: 100%;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }
}

.scroll-alert {
    padding: 9px 14px 9px 16px;
    background-color: $light-color;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: 0;

    > * {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    span {
        line-height: 1.2;
    }
}

.scroll-alert-icon {
    fill: $black-color;
}

// inner cards
.inner-page-content {
    position: relative;
    min-height: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;

    .background-block {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 0;
        width: 38.438%;

        @media (min-width: 1600px) {
            width: 41%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .section-title {
        margin: 48px 0 48px 0;
    }

    .background-words {
        left: 0;
        top: -24px;
    }
}

.inner-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
        height: 100%;
    }
}

.inner-page-content-left {
    flex: 1;
    max-width: 684px;
    margin-right: 16px;

    .scrollbar {
        padding: 0 44px 0 0;

        .ps__rail-y {
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }
}

.inner-cards-wrapper {
    > * {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }
}

.inner-cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.inner-category-designation {
    font-size: 11px;
    line-height: 2.2;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

    .letter {
        margin-left: 2px;
    }
}

.inner-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 64px 56px;
    margin-bottom: 48px;
}

.inner-page-content-right {
    padding: 57px 0 48px 33px; // левый паддинг - отступ 31px для скроллбара
    position: relative;
    z-index: 1;
    flex: 1;
    max-width: 408px;
    margin-right: -31px;

    .scrollbar {
        padding-right: 31px;
    }

    .ps-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.inner-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 48px;

    > * {
        &:not(:last-child) {
            margin-bottom: 46px;
        }
    }
}

.inner-menu-list-button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    text-decoration: underline;
    cursor: pointer;
    transition: color .2s ease;

    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

// Perfect Scrollbar
.scrollbar {
    .ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
        opacity: 1;
    }

    .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
        opacity: 1;
    }

    .ps__thumb-y {
        width: 4px;
        border-radius: 0;
        opacity: 1;
        background-color: $text-color;
    }

    > .ps.ps--scrolling-y > .ps__rail-y,  > .ps.ps--scrolling-x > .ps__rail-x {
        opacity: 1;
        background-color: transparent;
    }
}

// стили для отображения
.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}

.display-none {
    display: none !important;
}

// стили для svg-иконок
.chevron-icon {
    width: 7px;
    height: 12px;
    transform-origin: 50% 50%;
    fill: $text-color;

    &.top {
        transform: rotate(180deg);
    }
}

.marker-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.203999);
    background-color: $light-color; 
    padding: 0 16px;
    height: 48px;
    border-radius: 3px;

    img {
        margin-right: 14px;
    }

    span {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}