@import "theme";
@import "responsive";

.page-section {
    background-color: $light-gray;
}

.background-words {
    color: $text-color;
    opacity: 0.05;
}

.apartment-blocks {
    > * {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }

    @include media-breakpoint-only($xl) {
        > * {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}