<section class="page-section" id="apartments-section">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Апартаменты</h6>
            </div>
            <h2 class="section-title">
                <span>Апартаменты <br> для долгосрочной аренды</span>
                <div class="background-words">
                    apart–<br>ments
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Философия и основная цель комплекса VALO</strong> — обеспечить людей комфортом, уютом и качественным жильем.
                </p>
            </div>
        </header>
        <div class="apartment-blocks" *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
            <app-apartment-block [apartment]="apartment" *ngFor="let apartment of apartments"></app-apartment-block>
        </div>

        <!-- mobile cards -->
        <div *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'" class="mobile-cards">
            
            <!-- mobile card -->
            <div class="mobile-card">
                <div class="mobile-card-images">
                    <div class="mobile-card-info">
                        <p>24 м<sup>2</sup></p>
                        <p>Для двоих</p>
                    </div>
                    <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of images">
                                <img [src]="image" alt="business image">
                            </div>
                        </div>
                    </div>
                    <div class="slider-info card-pagination mobile-card-pagination"></div>
                </div>
                <div class="mobile-card-content">
                    <h5 class="mobile-card-title">
                        Двухместный номер с 1 кроватью
                    </h5>
                    <!-- <div class="mobile-card-text">
                        <p>Комфортабельный номер с телевизором, посудомоечной и стиральной машиной, чайной станцией и кондиционером. Все удобства в номере, завтрак включен.</p>
                    </div> -->
                    <div class="mobile-card-choise">
                        <div class="mobile-card-choise-item">
                            <p class="choise-month">Стоимость, Мес</p>
                            <div class="counter">
                                <button
                                    type="button"
                                    class="arrow-control decrease-control"
                                    (click)="decreaseMonths()">
                                </button>
                                <div class="months-number">{{ months }}</div>
                                <button
                                    type="button"
                                    class="arrow-control increase-control"
                                    (click)="increaseMonths()">
                                </button>
                            </div>
                        </div>
                        <div class="mobile-card-choise-item">
                            <p class="choise-month">Стоимость, Мес</p>
                            <strong class="months-number">26 000 ₽</strong>
                        </div>
                    </div>
                    <div class="mobile-card-buttons">
                        <button
                            type="button"
                            (click)="modal.open('apartment-view-request')"
                            class="button"
                        >Отправить заявку
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
