<section class="page-section" id="apartments-section">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Апартаменты</h6>
            </div>
            <h2 class="section-title">
                <span>Апартаменты <br> для долгосрочной аренды</span>
                <div class="background-words">
                    apart–<br>ments
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Философия и основная цель комплекса VALO</strong> — обеспечить людей комфортом, уютом и качественным жильем.
                </p>
            </div>
        </header>
        <div class="apartment-blocks">
            <app-apartment-block [apartment]="apartment" *ngFor="let apartment of apartments"></app-apartment-block>
        </div>
    </div>
</section>
