<section class="page-section" id="apartments-section">
    <div class="container">
        <header class="page-section-header">
            <div class="section-name">
                <div class="section-name-line"></div>
                <h6>Апартаменты</h6>
            </div>
            <h2 class="section-title">
                <span>Апартаменты <br> для долгосрочной аренды</span>
                <div 
                    class="background-words" 
                    data-aos="custom fade-right-long" 
                    data-aos-easing="ease-out"
                    data-aos-duration="1000"
                >
                    apart–<br>ments
                </div>
            </h2>
            <div class="section-description">
                <p>
                    <strong>Философия и основная цель комплекса VALO</strong> — обеспечить людей комфортом, уютом и качественным жильем.
                </p>
            </div>
        </header>
        <div class="apartment-blocks" *ngIf="screen === 'md' || screen === 'lg' || screen === 'xl'">
            <app-apartment-block 
                [apartment]="apartment" 
                *ngFor="let apartment of apartments"
                data-aos="animation"
                data-aos-once="false"
            ></app-apartment-block>
        </div>

        <!-- mobile cards -->
        <div class="mobile-cards" *ngIf="screen !== 'md' && screen !== 'lg' && screen !== 'xl'">
            <app-mobile-apartment-block 
                *ngFor="let apartment of apartments; index as i" 
                [content]="apartment" 
                [pagination]="'pagination-' + i"
                data-aos="fade-up"
                data-aos-duration="650"
            ></app-mobile-apartment-block>
        </div>
    </div>
</section>
