<div class="card" [ngStyle]="{'background-image': 'url(' + apartment.imageURL + ')'}">
    <div class="background-gradient"></div>
    <div class="card-content">
        <div class="card-text">
            <h2 class="card-title light">
                {{ apartment.title }}
            </h2>
            <div class="card-description">
                {{ apartment.description }}
            </div>
        </div>
        <button type="button" class="button gray">Забронировать</button>
    </div>
</div>