<div class="card" [ngStyle]="{'background-image': 'url(' + 'assets/images/apartments/apartment-1.jpg' + ')'}">
<!--  FIXME поправить ссылку на изображение -->
  <div class="background-gradient"></div>
  <div class="card-content">
    <div class="apartment-info">
        <p>24 м<sup>2</sup></p>
        <p>Для двоих</p>
    </div>
    <div class="card-text">
      <h2 class="card-title light">
        <span>{{ apartment.name }}</span>
        <svg class="apartment-icon" width="6" height="10">
          <use xlink:href="assets/sprites/icons.svg#chevron-right"></use>
        </svg>
      </h2>
      <div class="card-description">
        {{ apartment.description }}
      </div>
    </div>
    <a href="#" type="button" class="button gray">Забронировать</a>
  </div>
</div>
