<div class="apartment">
    <div class="apartment-container">
        <div class="apartment-content">
            <div class="apartment-content-left">
                <div class="apartment-info">
                    <p>{{ apartment.area }} м<sup>2</sup></p>
                    <p>для {{ apartment.guestsCount }}-х</p>
                </div>
                <div class="apartment-main">
                    <h2 class="light apartment-title">{{ apartment.name }}</h2>
                    <perfect-scrollbar class="scrollbar light-scrollbar">
                        <div class="apartment-description" [innerHTML]="apartment.description | paragraphs"></div>
                    </perfect-scrollbar>
                    <div class="aparment-choise" *ngIf="apartment.costConditions.length > 0">
                        <div class="apartment-choise-item">
                            <p class="choise-month">Срок аренды, мес</p>
                            <div class="counter">
                                <button
                                    type="button"
                                    class="arrow-control decrease-control"
                                    (click)="decreaseMonths()">
                                </button>
                                <div class="months-number">{{ months }}</div>
                                <button
                                    type="button"
                                    class="arrow-control increase-control"
                                    (click)="increaseMonths()">
                                </button>
                            </div>
                        </div>
                        <div class="apartment-choise-item">
                            <p class="choise-month">Стоимость, Мес</p>
                            <strong class="months-number">{{ getCost() | currency:'':'':'4.0' }} ₽</strong>
                        </div>
                    </div>
                    <div class="apartment-buttons">
                        <button
                            type="button secondary"
                            (click)="modal.open('apartment-view-request', {id: apartment.id})"
                            class="button"
                        >Отправить заявку
                        </button>
                    </div>
                </div>
            </div>
            <div class="apartment-content-right">
                <div class="apartment-slider">
                    <div class="apartment-background-block"></div>
                    <div class="swiper-container" [(index)]="index" [swiper]="config" #apartmentSlider>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of apartment.imagesXl; index as i">
                              <app-responsive-image [lazyLoad]="false" [xl]="apartment.imagesXl[i]" [lg]="apartment.imagesLg[i]" [md]="apartment.imagesMd[i]" [xs]="apartment.imagesSm[i]" [sm]="apartment.imagesSm[i]"></app-responsive-image>
                            </div>
                        </div>
                    </div>
                    <div class="slider-controls" *ngIf="apartment.imagesXl.length > 1">
                        <div class="slider-index">{{ index + 1 }}/{{ apartment.imagesXl.length }}</div>
                        <button type="button" class="control-button" (click)="apartmentSlider.swiper.slidePrev()">
                            <svg>
                                <use xlink:href="assets/sprites/icons.svg#arrow-left"></use>
                            </svg>
                        </button>
                        <button type="button" class="control-button" (click)="apartmentSlider.swiper.slideNext()">
                            <svg>
                                <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
