@import "theme";
@import "responsive";

:host {
    display: block;
    height: 100%;
}

.event-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-card-image {
    padding-bottom: 69.5%;
    position: relative;
    margin-bottom: 24px;

    ::ng-deep img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        right: 0;
        object-fit: cover;
    }

    .button {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.button {
    color: $primary-color;
    background-color: $light-color;
    border-radius: 0;
    padding: 7px 23px;
}

.event-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 16px;
    line-height: 1.85;
}

.card-price {
    font-weight: 700;
}

.card-title {
    text-decoration: underline;
    margin-bottom: 24px;
    font-weight: 700;

    a {
        color: $text-color;
        transition: color .2s ease;

        &:hover {
            color: $primary-color;
        }

        &:active, &:focus {
            color: $secondary-color;
        }
    }

    @include media-breakpoint-only($md) {
        font-size: 14px;
        line-height: 1.79;
        margin-bottom: 16px;
    }
}

.card-text {
    font-size: 14px;
    line-height: 1.86;
    margin-top: auto;

    @include media-breakpoint-only($md) {
        font-size: 13px;
        line-height: 1.69;
    }
}
