@import "responsive";

.inner-cards {
    grid-template-rows: 200px;
}

.inner-page-content-left {
    margin: 0 -15px; // для корректной отображении тени карточек внутри скроллбара

    .scrollbar {
        ::ng-deep {
            .ps-content {
                padding: 0 15px; // для корректной отображении тени карточек внутри скроллбара
    
                @include media-breakpoint-only($lg) {
                    padding: 0;
                }
            }
        }
    }
    
    @include media-breakpoint-only($xl) {
        margin: 0;
        padding-right: 15px;
    }

    @include media-breakpoint-only($lg) {
        padding: 0;
    }
}

.inner-cards {
    @include media-breakpoint-between($lg, $xl) {
        grid-gap: 30px; 
    }
}

.swiper-wrapper {
    align-items: stretch;
}

.swiper-slide {
    height: 200px;
}